<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
        <meta name="format-detection" content="telephone=no"/>
        <title>登录</title>
		<!-- css引入 -->
		<link rel="stylesheet" href="../css/common/resetnew-min.css" />
		<link rel="stylesheet" href="../css/common/common.css" type="text/css"  />
		<link rel="stylesheet" href="../css/page/my_login.css" />
		<link rel="stylesheet" href="../css/common/tf-pop-sp.css" />
	</head>
	<body>
		<!--主体-->
		<div class="body-main">
			<!--头部-->
			<div class="body-top">登录</div>
			<!--内容-->
			<div class="body-content">
                <div class="common-div lg-div">
                	<input type="text" id="partyname" class="common-input lg-inp login-menber" value="" placeholder="手机/会员名/卡号">
                </div>
                <div  class="common-div lg-div">
                	<input type="password" id="passwords" class="common-input lg-inp login-pw" value="" placeholder="密码">
                </div>
                <div  class="common-div bt-div">
                	<div id="login" class="common-button">登录</div>
                </div>
                <div class="common-div">
					<div class="kf-div">传化客服 400-8665566</div>
				</div>
			</div>
		</div>
		<div id="J_sure"></div>
		<!-- js引入 -->
		<script type="text/javascript" src="../js/lib/zepto.min.js" ></script>
		<script type="text/javascript" src="../js/lib/fastclick.js" ></script>
		<script type="text/javascript" src="../js/common/data.js" ></script>
		<script type="text/javascript" src="../js/weiget/base.js" ></script>
		<script type="text/javascript" src="../js/weiget/getJsonp.js" ></script>
		<script type="text/javascript" src="../js/weiget/tf-popup-sp.js" ></script>
		<script type="text/javascript" src="../js/page/my_login.js" ></script>
	</body>
</html>