<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
        <meta name="format-detection" content="telephone=no"/>
        <title>邀请有奖</title>
		<link rel="stylesheet" href="../css/common/resetnew-min.css" />
		<link href="../css/common/common.css"  rel="stylesheet" type="text/css"  />
		<link rel="stylesheet" href="../css/common/tf-showHeader.css" />
		<link rel="stylesheet" href="../css/page/my_Promotion.css" />
		<script>
//			if(localStorage.promotionBz=='ok'){
//				window.tf56&&window.tf56.finishPage();
//			}else{
//				localStorage.promotionBz='init'
				var url = 'http://static.test.tf56.com/lujing/activities/aprilActivitie/invitefriends/index.html'
				if (!location.href.match('test')&&(location.href.match('tf56')||location.href.match('lujing56'))) {
				    url = 'https://www.lujing56.com/activities/aprilActivitie/invitefriends/index.html'
				}
	//			alert(url)
				window.location.href=url;
//			}
		</script>
	</head>
	<body>
		<body class="body-bg">
		<!--主体-->
		<!--<div class="body-main">
			<div class="body-top hid">
				<div class="nvbt iback" onclick="backFun()"></div>
				<div class="nvtt">DEMO</div>
			</div>
			<div class="body-content no-top">
                <div class="p_bg">
                	<img class="p_img" src="../css/img/promotion-icon.jpg" />
                	<div class="p_btn1">立即邀请</div>
                	<div class="p_btn2">当面扫码邀请</div>
                </div>
                
                <div class="bc_all hid">
	                <div class="bc_box">
						<div class="bc_div1">
							<i class="point1 point_bg"></i>
							<i class="point2 point_bg"></i>
							<i class="point1"></i>
							<i class="point2"></i>
							<i id="touxiang" class="hz_icon"></i>
							<span class="bc_span1">我的邀请码:<b id="inviteCode"></b></span>
							<span class="bc_span2"></span>
						</div>
						<div class="bc_div2">
							<div id="qrcode" class="qcode"></div>
							<div class="bc_div3">扫一扫上面的二维码，邀请好友注册陆鲸</div>
						</div>
					</div>
				</div>
			</div>
			<div class="bc_bg1 hid"></div>
		</div>-->
		
		<!--<script type="text/javascript" src="../js/lib/zepto.min.js" ></script>
		<script type="text/javascript" src="../js/lib/fastclick.js" ></script>
		<script type="text/javascript" src="../js/weiget/base.js" ></script>
		<script type="text/javascript" src="../js/weiget/qrcode.js" ></script>
		<script type="text/javascript" src="../js/common/data.js" ></script>
		<script type="text/javascript" src="../js/common/partyApi.js" ></script>
		<script type="text/javascript" src="../js/weiget/getJsonp.js" ></script>
		<script type="text/javascript" src="../js/weiget/tf-showHeader.js" ></script>
		<script type="text/javascript" src="../js/page/my_Promotion.js" ></script>-->
	</body>

</html>