<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
        <meta name="format-detection" content="telephone=no"/>

		<title>诚信等级规则</title>
		<link rel="stylesheet" href="../css/common/resetnew-min.css" />
		<link href="../css/common/common.css"  rel="stylesheet" type="text/css"  />
		<style>
		html{
			background: #EFEFEF;
		}
		.bodyTop{
			background: #EFEFEF;
			text-align: center;
			line-height: 2.0rem;
			margin-top: 1.0rem;
		}
		.bodyContent{
			padding: 0 0.9375rem;
			height: 100%;
			background: #EFEFEF;
		}
		.aboutTheRule{
			padding-top: 0.9375rem;
			line-height: 1.562rem;
			color: #3F3F3F;
		}
		</style>
	</head>
	<body>
		<div>
			<div class="bodyTop hid">诚信等级规则</div>
			<div class="bodyContent">
					<p class="aboutTheRule">1、影响用户诚信等级的因素包含认证、在线交易、用户评价、投诉举报、开通定位、线上运费支付等；</p> 
					<p class="aboutTheRule">2、在线交易量越大、用户好评率越高、成功开通定位、线上运费支付金额越高将会赚取越高的诚信等级；反之认证证件不全、在线交易量少、用户差评率高，开通定位失败、线上运费支付金额少将会使您的诚信积累从而影响到您的诚信等级；</p>
					<p class="aboutTheRule">3、诚信等级降低后您还拥有重新升级的机会；当您的诚信等级降至零时，将在30天后关闭您发部分操作权限；</p>
					<p class="aboutTheRule">4、若您被投诉举报经查实将影响到您的诚信等级，情节严重则将会被冻结账号或加入黑名单。</p>
					
			</div>
	</body>
	<script type="text/javascript" src="../js/lib/zepto.min.js" ></script>
	<script>
		/*URL里面的参数*/
		var getParamVal = function(key) {
		    var reg = new RegExp("(^|&|\\?)"+ key +"=([^&]*)(&|$)");
		    if (ret = location.search.match(reg)) {
		        return decodeURIComponent(ret[2]);
		    }
		    return '';
		}
		var type = getParamVal('type');
		if(type==1){
			$('.aboutTheRule').eq(0).text('1、影响用户诚信等级的因素包含认证、在线交易、用户评价、投诉举报、开通定位、线上运费支付等')
			$('.aboutTheRule').eq(1).text('2、在线交易量越大、用户好评率越高、线上运费支付金额越高将会赚取越高的诚信等级；反之认证证件不全、在线交易量少、用户差评率高，线上运费支付金额少将会使您的诚信积累从而影响到您的诚信等级；')
		}
	</script>
</html>