<!doctype html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>大地保险</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
	<style>
	    /* 适应窗口大小  rem标准模式*/
		@media screen and (max-width: 374px) {
			*{font-size: 16px;line-height: 16px;}
		}
		@media (min-width:375px) and (max-width: 413px) {
			*{font-size: 18px;line-height: 18px;}
		}
		@media (min-width:414px) and (max-width: 479px) {
			*{font-size: 20px;line-height: 20px;}
		}
		@media (min-width:480px) and (max-width:639px){
			*{font-size: 24px;line-height: 24px;}
		}
		@media screen and (min-width: 640px) {
			*{font-size: 32px;line-height: 32px;}
		}
		html{font-family:Verdana,'Hiragino Sans GB','Microsoft Yahei',sans-serif;-webkit-font-smoothing:antialiased}body{padding:0;margin:0}ul,li{list-style:none;margin:0;padding:0}h1,h2,h3,h4,h5,p{margin:0}img{border:0}input,img{vertical-align:middle}*{-webkit-tap-highlight-color:rgba(0,0,0,0)}.clearfix:before,.clearfix:after{display:table;content:"";line-height:0}.clearfix:after{clear:both}
	    *{
	        padding: 0;
	        margin: 0;
	        border: none;
	        color: #3F3F3F;
	    }
	    .body-top {
			height: 3.0rem;
			line-height: 3.0rem;
			font-size: 1.125rem;
			color: #3F3F3F;
			text-align: center;
			width: 100%;
			top: 0px;
			z-index: 100;
		}
	    .title{
	        margin:0.5rem auto;
	        text-align:center;
	        font-size:1.5rem;
	    }
	    div{
	    	font-size: 0.75rem;
	    }
	    .div1{
	    	padding: 0 1.0rem;
	    	margin: 0.6rem 0;
	    }
	    .div1 span{
	    	font-size: 0.875rem;
	    }
	    .p-con{
	    	padding: 0 1.0rem;
	    	/*padding-left:2.0rem;*/
	    	margin: 0.6rem 0;
	    }
	    .p-con p{
	    	font-size: 0.75rem;
	    	margin: 0.2rem 0;
	    	text-indent: 1.5rem;
	    }
	    .p-con .span-con{
	    	font-size: 0.75rem;
	    	display: block;
	    	/*padding-left:0.5rem;*/
	    }
	    .p-con p span{
	    	font-size: 0.875rem;
	    }
	    .p-con .span-con p span{
	    	font-size: 0.875rem;
	    }
	    .p-con img{
	    	width: 100%;
	    	height: auto;
	    	margin: 0.5rem 0;
	    }
	    .c_table{border-right:1px solid #DFDFDF;border-bottom:1px solid #DFDFDF;border-collapse: collapse;text-align: center;vertical-align:middle;margin-top: 10px;} 
		.c_table td{font-size:0.75rem;border-left:1px solid #DFDFDF;border-top:1px solid #DFDFDF;padding:5px 2px;}
	    .hid{
	    	display: none;
	    }
	</style>
</head>
<body>
<div class="main-body">
    <div id="tf56Show" class="body-top">大地保险服务说明书</div>
	<div class="p-con"><p>本产品由中国大地财产保险股份有限公司义乌中心支公司提供的公路货物运输保险。</p><p>
通过陆鲸平台自愿购买保险、进行货运险投保的用户，将依据法律法规的规定以及合同的约定享有货物运输保险增值服务。</p><p>
请认真阅读《保险服务说明书》、《精密仪器标准》、《超限运输标准》、《大地财险（备-货运）〔2014〕主5号-公路货物运输保险（2014版）条款》、《大地财险（备-货运）〔2013〕主16号-国内鲜活货物运输保险条款》、《附加哄抢货物损失险》，正确录入并核实运单信息，因信息不真实、不准确等原因导致保险公司拒绝赔付的，责任自行承担，陆鲸平台不承担任何责任。
</p>
	</div>
	<div class="p-con">
	<div class="div1"><span>一、不保货物</span></div>
		<table width="100%" border="1" bordercolor="#dfdfdf" class="c_table">
			<tr>
				<td width="60">二手货物</td>
				<td>包括二手设备、旧货、残货、退货、返修货、展览后之展品和陈列品等</td>
			</tr>
			<tr>
				<td>鲜活货物</td>
				<td>包括盆景、植物，活的牲畜、禽类、鱼类、蛋类等（含冷藏鲜活货物）*</td>
			</tr>
			<tr>
				<td>危险货物</td>
				<td>承运人需具有运输此类货物的资质</td>
			</tr>
			<tr>
				<td>易碎货物</td>
				<td>包括：玻璃、陶瓷制品及其为包装的物品,灯具类、卫生洁具类、彩画蛋、砚石、玉石制品、泥、石膏制品、雕刻制品、盆景、各种带玻璃镜框制品、大理石、水磨石、石墓碑等以及非金属建材及耐火器材（包括板、砖、瓦、石）、铸铁制品等</td>
			</tr>
			<tr>
				<td>工艺品类</td>
				<td>玉器、文物、古董、古玩、艺术品、珠宝、钻石等</td>
			</tr>
			<tr>
				<td>金银现金类</td>
				<td>现金、各类充值卡、金银等贵金属及其制品</td>
			</tr>
			<tr>
				<td>进口设备</td>
				<td>对振动和自身倾斜度有特殊要求的精密仪器</td>
			</tr>
			<tr>
				<td>超大件及车辆</td>
				<td>超大/超宽/超高/超重货物*、商品车</td>
			</tr>
		</table>
备注：</p><p>1、鲜果和蔬菜类可在新疆、西藏、青海、云南地区运输</p><p>
2、精密仪器（标准详见附件1）</p><p>
3、超大/超宽/超高/超重货物（标准详见附件2）
</p>
	</div>
	<div class="div1"><span>二、包装、装运方式</span></div>
	<div class="p-con">
		<p>
投保货物所采取的以下包装、装运方式符合运输的要求：</p><p>
1.有雨篷全部遮盖的大货车；</p><p>
2.严格按国际标准、国家标准、行业标准的包装。</p><p>
</p>
	</div>
	<div class="div1"><span>三、免赔条件</span></div>
	<div class="p-con"><p>
1、每次事故绝对免赔额2000元或损失金额的10%，两者以高者为准。火灾、爆炸事故造成的损失每次事故绝对免赔率为损失金额的20%。</p><p>
2、标的物为整车家具时，每次事故绝对免赔10000元或保险金额的20%，两者以高者为准。部分标的物为家具时，每次事故绝对免赔额2000元或损失金额的20%，两者以高者为准。</p><p>
3、标的物为钢琴时，每次事故绝对免赔额20000元或者保险金额的20%，两者以高者为准。</p><p>
4、标的为鲜活货物时，每次事故绝对免赔额为4000元或者损失金额的20%。
</p>
	</div>
	<div class="div1"><span>附件1   精密仪器标准</span></div>
	<div class="p-con">
		<p>满足以下条件之一，即为精密仪器：</p><p>
1、运输过程中对平衡、稳定、防震、防尘、搬运倾斜角度、恒温、恒湿有特殊要求的设备；</p><p>
2、国内没有修复能力、受损后需要返回原厂修复的设备；</p><p>
3、单价设备价值在100万元人民币以上的设备。
</p>
	</div>
	<div class="div1"><span>附件2   超限运输标准</span></div>
	<div class="div1" style="text-align:center"><span>超限运输车辆行驶公路管理规定<br>
（交通运输部令2016年第62号）</span></div>
	<div class="p-con">
		<p>《超限运输车辆行驶公路管理规定》已于2016年8月18日经第18次部务会议通过，现予公布，自2016年9月21日起施行。
</p>
	</div>
    <div class="body-top">超限运输车辆行驶公路管理规定</div>
	<div class="div1"><span>第一章　总　则</span></div>
	<div class="p-con">
		<p>第一条 为加强超限运输车辆行驶公路管理，保障公路设施和人民生命财产安全，根据《公路法》《公路安全保护条例》等法律、行政法规，制定本规定。 </p><p>
第二条 超限运输车辆通过公路进行货物运输，应当遵守本规定。 </p><p>
第三条 本规定所称超限运输车辆，是指有下列情形之一的货物运输车辆： </p><p>
（一）车货总高度从地面算起超过4米； </p><p>
（二）车货总宽度超过2.55米； </p><p>
（三）车货总长度超过18.1米； </p><p>
（四）二轴货车，其车货总质量超过18000千克； </p><p>
（五）三轴货车，其车货总质量超过25000千克；三轴汽车列车，其车货总质量超过27000千克； </p><p>
（六）四轴货车，其车货总质量超过31000千克；四轴汽车列车，其车货总质量超过36000千克； </p><p>
（七）五轴汽车列车，其车货总质量超过43000千克；</p><p>
（八）六轴及六轴以上汽车列车，其车货总质量超过49000千克,其中牵引车驱动轴为单轴的，其车货总质量超过46000千克。 </p><p>
前款规定的限定标准的认定，还应当遵守下列要求: </p><p>
（一）二轴组按照二个轴计算，三轴组按照三个轴计算；</p><p>
（二）除驱动轴外，二轴组、三轴组以及半挂车和全挂车的车轴每侧轮胎按照双轮胎计算，若每轴每侧轮胎为单轮胎，限定标准减少3000千克，但安装符合国家有关标准的加宽轮胎的除外；</p><p> 
（三）车辆最大允许总质量不应超过各车轴最大允许轴荷之和； </p><p>
（四）拖拉机、农用车、低速货车，以行驶证核定的总质量为限定标准； </p><p>
（五）符合《汽车、挂车及汽车列车外廓尺寸、轴荷及质量限值》（GB1589）规定的冷藏车、汽车列车、安装空气悬架的车辆，以及专用作业车，不认定为超限运输车辆。 </p><p>
第四条　交通运输部负责全国超限运输车辆行驶公路的管理工作。 </p><p>
县级以上地方人民政府交通运输主管部门负责本行政区域内超限运输车辆行驶公路的管理工作。 </p><p>
公路管理机构具体承担超限运输车辆行驶公路的监督管理。 </p><p>
县级以上人民政府相关主管部门按照职责分工，依法负责或者参与、配合超限运输车辆行驶公路的监督管理。交通运输主管部门应当在本级人民政府统一领导下，与相关主管部门建立治理超限运输联动工作机制。 </p><p>
第五条 各级交通运输主管部门应当组织公路管理机构、道路运输管理机构建立相关管理信息系统，推行车辆超限管理信息系统、道路运政管理信息系统联网，实现数据交换与共享。
</p>

	</div>
	<div class="div1"><span>第二章　大件运输许可管理</span></div>
	<div class="p-con">
		<p>第六条 载运不可解体物品的超限运输（以下称大件运输）车辆，应当依法办理有关许可手续，采取有效措施后，按照指定的时间、路线、速度行驶公路。未经许可，不得擅自行驶公路。 </p><p>第七条 大件运输的托运人应当委托具有大型物件运输经营资质的道路运输经营者承运，并在运单上如实填写托运货物的名称、规格、重量等相关信息。 </p><p>
第八条 大件运输车辆行驶公路前，承运人应当按下列规定向公路管理机构申请公路超限运输许可： </p><p>
（一）跨省、自治区、直辖市进行运输的，向起运地省级公路管理机构递交申请书，申请机关需要列明超限运输途经公路沿线各省级公路管理机构，由起运地省级公路管理机构统一受理并组织协调沿线各省级公路管理机构联合审批，必要时可由交通运输部统一组织协调处理； </p><p>
（二）在省、自治区范围内跨设区的市进行运输，或者在直辖市范围内跨区、县进行运输的，向该省级公路管理机构提出申请，由其受理并审批； </p><p>
（三）在设区的市范围内跨区、县进行运输的，向该市级公路管理机构提出申请，由其受理并审批； </p><p>
（四）在区、县范围内进行运输的，向该县级公路管理机构提出申请，由其受理并审批。 </p><p>
第九条 各级交通运输主管部门、公路管理机构应当利用信息化手段，建立公路超限运输许可管理平台，实行网上办理许可手续，并及时公开相关信息。 </p><p>
第十条 申请公路超限运输许可的，承运人应当提交下列材料： </p><p>
（一）公路超限运输申请表，主要内容包括货物的名称、外廓尺寸和质量，车辆的厂牌型号、整备质量、轴数、轴距和轮胎数，载货时车货总体的外廓尺寸、总质量、各车轴轴荷，拟运输的起讫点、通行路线和行驶时间； </p><p>
（二）承运人的道路运输经营许可证，经办人的身份证件和授权委托书； </p><p>
（三）车辆行驶证或者临时行驶车号牌。 </p><p>
车货总高度从地面算起超过4.5米，或者总宽度超过3.75米，或者总长度超过28米，或者总质量超过100000千克，以及其他可能严重影响公路完好、安全、畅通情形的，还应当提交记录载货时车货总体外廓尺寸信息的轮廓图和护送方案。 </p><p>
护送方案应当包含护送车辆配置方案、护送人员配备方案、护送路线情况说明、护送操作细则、异常情况处理等相关内容。 </p><p>
第十一条 承运人提出的公路超限运输许可申请有下列情形之一的，公路管理机构不予受理: </p><p>
（一）货物属于可分载物品的； </p><p>
（二）承运人所持有的道路运输经营许可证记载的经营资质不包括大件运输的； </p><p>
（三）承运人被依法限制申请公路超限运输许可未满限制期限的； </p><p>
（四）法律、行政法规规定的其他情形。 </p><p>
载运单个不可解体物品的大件运输车辆，在不改变原超限情形的前提下，加装多个品种相同的不可解体物品的，视为载运不可解体物品。 </p><p>
第十二条 公路管理机构受理公路超限运输许可申请后，应当对承运人提交的申请材料进行审查。属于第十条第二款规定情形的，公路管理机构应当对车货总体外廓尺寸、总质量、轴荷等数据和护送方案进行核查，并征求同级公安机关交通管理部门意见。 </p><p>
属于统一受理、集中办理跨省、自治区、直辖市进行运输的，由起运地省级公路管理机构负责审查。 </p><p>
第十三条 公路管理机构审批公路超限运输申请，应当根据实际情况组织人员勘测通行路线。需要采取加固、改造措施的，承运人应当按照规定要求采取有效的加固、改造措施。公路管理机构应当对承运人提出的加固、改造措施方案进行审查，并组织验收。 </p><p>
承运人不具备加固、改造措施的条件和能力的，可以通过签订协议的方式，委托公路管理机构制定相应的加固、改造方案，由公路管理机构进行加固、改造，或者由公路管理机构通过市场化方式选择具有相应资质的单位进行加固、改造。 </p><p>
采取加固、改造措施所需的费用由承运人承担。相关收费标准应当公开、透明。</p><p> 
第十四条 采取加固、改造措施应当满足公路设施安全需要，并遵循下列原则: </p><p>
（一）优先采取临时措施，便于实施、拆除和可回收利用； </p><p>
（二）采取永久性或者半永久性措施的，可以考虑与公路设施的技术改造同步实施； </p><p>
（三）对公路设施采取加固、改造措施仍无法满足大件运输车辆通行的，可以考虑采取修建临时便桥或者便道的改造措施；</p><p> 
（四）有多条路线可供选择的，优先选取桥梁技术状况评定等级高和采取加固、改造措施所需费用低的路线通行； </p><p>
（五）同一时期，不同的超限运输申请，涉及对同一公路设施采取加固、改造措施的，由各承运人按照公平、自愿的原则分担有关费用。 </p><p>
第十五条 公路管理机构应当在下列期限内作出行政许可决定： </p><p>
（一）车货总高度从地面算起未超过4.2米、总宽度未超过3米、总长度未超过20米且车货总质量、轴荷未超过本规定第三条、第十七条规定标准的，自受理申请之日起2个工作日内作出，属于统一受理、集中办理跨省、自治区、直辖市大件运输的，办理的时间最长不得超过5个工作日；</p><p>
（二）车货总高度从地面算起未超过4.5米、总宽度未超过3.75米、总长度未超过28米且总质量未超过100000千克的，属于本辖区内大件运输的，自受理申请之日起5个工作日内作出，属于统一受理、集中办理跨省、自治区、直辖市大件运输的，办理的时间最长不得超过10个工作日； </p><p>
（三）车货总高度从地面算起超过4.5米，或者总宽度超过3.75米，或者总长度超过28米，或者总质量超过100000千克的，属于本辖区内大件运输的，自受理申请之日起15个工作日内作出，属于统一受理、集中办理跨省、自治区、直辖市大件运输的，办理的时间最长不得超过20个工作日。</p><p>
采取加固、改造措施所需时间不计算在前款规定的期限内。 </p><p>
第十六条 受理跨省、自治区、直辖市公路超限运输申请后，起运地省级公路管理机构应当在2个工作日内向途经公路沿线各省级公路管理机构转送其受理的申请资料。 </p><p>
属于第十五条第一款第二项规定的情形的，途经公路沿线各省级公路管理机构应当在收到转送的申请材料起5个工作日内作出行政许可决定；属于第十五条第一款第三项规定的情形的，应当在收到转送的申请材料起15个工作日内作出行政许可决定，并向起运地省级公路管理机构反馈。需要采取加固、改造措施的，由相关省级公路管理机构按照本规定第十三条执行；上下游省、自治区、直辖市范围内路线或者行驶时间调整的，应当及时告知承运人和起运地省级公路管理机构，由起运地省级公路管理机构组织协调处理。 </p><p>
第十七条 有下列情形之一的，公路管理机构应当依法作出不予行政许可的决定: </p><p>
（一）采用普通平板车运输，车辆单轴的平均轴荷超过10000千克或者最大轴荷超过13000千克的； </p><p>
（二）采用多轴多轮液压平板车运输，车辆每轴线（一线两轴8轮胎）的平均轴荷超过18000千克或者最大轴荷超过20000千克的； </p><p>
（三）承运人不履行加固、改造义务的； </p><p>
（四）法律、行政法规规定的其他情形。 </p><p>
第十八条 公路管理机构批准公路超限运输申请的，根据大件运输的具体情况，指定行驶公路的时间、路线和速度，并颁发《超限运输车辆通行证》。其中，批准跨省、自治区、直辖市运输的，由起运地省级公路管理机构颁发。 </p><p>
《超限运输车辆通行证》的式样由交通运输部统一制定，各省级公路管理机构负责印制和管理。申请人可到许可窗口领取或者通过网上自助方式打印。 </p><p>
第十九条 同一大件运输车辆短期内多次通行固定路线，装载方式、装载物品相同，且不需要采取加固、改造措施的，承运人可以根据运输计划向公路管理机构申请办理行驶期限不超过6个月的《超限运输车辆通行证》。运输计划发生变化的，需按原许可机关的有关规定办理变更手续。 </p><p>
第二十条 经批准进行大件运输的车辆，行驶公路时应当遵守下列规定: </p><p>
（一）采取有效措施固定货物，按照有关要求在车辆上悬挂明显标志，保证运输安全； </p><p>
（二）按照指定的时间、路线和速度行驶； </p><p>
（三）车货总质量超限的车辆通行公路桥梁，应当匀速居中行驶，避免在桥上制动、变速或者停驶； </p><p>
（四）需要在公路上临时停车的，除遵守有关道路交通安全规定外，还应当在车辆周边设置警告标志，并采取相应的安全防范措施；需要较长时间停车或者遇有恶劣天气的，应当驶离公路，就近选择安全区域停靠； </p><p>
（五）通行采取加固、改造措施的公路设施，承运人应当提前通知该公路设施的养护管理单位，由其加强现场管理和指导； </p><p>
（六）因自然灾害或者其他不可预见因素而出现公路通行状况异常致使大件运输车辆无法继续行驶的，承运人应当服从现场管理并及时告知作出行政许可决定的公路管理机构，由其协调当地公路管理机构采取相关措施后继续行驶。 </p><p>
第二十一条 大件运输车辆应当随车携带有效的《超限运输车辆通行证》，主动接受公路管理机构的监督检查。</p><p> 
大件运输车辆及装载物品的有关情况应当与《超限运输车辆通行证》记载的内容一致。 </p><p>
任何单位和个人不得租借、转让《超限运输车辆通行证》，不得使用伪造、变造的《超限运输车辆通行证》。 </p><p>
第二十二条 对于本规定第十条第二款规定的大件运输车辆，承运人应当按照护送方案组织护送。 </p><p>
承运人无法采取护送措施的，可以委托作出行政许可决定的公路管理机构协调公路沿线的公路管理机构进行护送，并承担所需费用。护送收费标准由省级交通运输主管部门会同同级财政、价格主管部门按规定制定，并予以公示。 </p><p>
第二十三条 行驶过程中，护送车辆应当与大件运输车辆形成整体车队，并保持实时、畅通的通讯联系。 </p><p>
第二十四条 经批准的大件运输车辆途经实行计重收费的收费公路时，对其按照基本费率标准收取车辆通行费，但车辆及装载物品的有关情况与《超限运输车辆通行证》记载的内容不一致的除外。 </p><p>
第二十五条 公路管理机构应当加强与辖区内重大装备制造、运输企业的联系，了解其制造、运输计划，加强服务，为重大装备运输提供便利条件。 </p><p>
大件运输需求量大的地区，可以统筹考虑建设成本、运输需求等因素，适当提高通行路段的技术条件。 </p><p>
第二十六条 公路管理机构、公路经营企业应当按照有关规定，定期对公路、公路桥梁、公路隧道等设施进行检测和评定，并为社会公众查询其技术状况信息提供便利。 </p><p>
公路收费站应当按照有关要求设置超宽车道。</p><p>
</p>

	</div>
	<div class="div1"><span>第三章　违法超限运输管理</span></div>
	<div class="p-con">
		<p>
第二十七条 载运可分载物品的超限运输（以下称违法超限运输）车辆，禁止行驶公路。 </p><p>
在公路上行驶的车辆，其车货总体的外廓尺寸或者总质量未超过本规定第三条规定的限定标准，但超过相关公路、公路桥梁、公路隧道限载、限高、限宽、限长标准的，不得在该公路、公路桥梁或者公路隧道行驶。 </p><p>
第二十八条 煤炭、钢材、水泥、砂石、商品车等货物集散地以及货运站等场所的经营人、管理人（以下统称货运源头单位），应当在货物装运场（站）安装合格的检测设备，对出场（站）货运车辆进行检测，确保出场（站）货运车辆合法装载。 </p><p>
第二十九条 货运源头单位、道路运输企业应当加强对货运车辆驾驶人的教育和管理，督促其合法运输。</p><p> 
道路运输企业是防止违法超限运输的责任主体，应当按照有关规定加强对车辆装载及运行全过程监控，防止驾驶人违法超限运输。 </p><p>
任何单位和个人不得指使、强令货运车辆驾驶人违法超限运输。 </p><p>
第三十条 货运车辆驾驶人不得驾驶违法超限运输车辆。 </p><p>
第三十一条 道路运输管理机构应当加强对政府公布的重点货运源头单位的监督检查。通过巡查、技术监控等方式督促其落实监督车辆合法装载的责任，制止违法超限运输车辆出场（站）。</p><p>第三十二条 公路管理机构、道路运输管理机构应当建立执法联动工作机制，将违法超限运输行为纳入道路运输企业质量信誉考核和驾驶人诚信考核，实行违法超限运输“黑名单”管理制度，依法追究违法超限运输的货运车辆、车辆驾驶人、道路运输企业、货运源头单位的责任。 </p><p>
第三十三条 公路管理机构应当对货运车辆进行超限检测。超限检测可以采取固定站点检测、流动检测、技术监控等方式。 </p><p>
第三十四条 采取固定站点检测的，应当在经省级人民政府批准设置的公路超限检测站进行。 </p><p>
第三十五条 公路管理机构可以利用移动检测设备，开展流动检测。经流动检测认定的违法超限运输车辆，应当就近引导至公路超限检测站进行处理。 </p><p>
流动检测点远离公路超限检测站的，应当就近引导至县级以上地方交通运输主管部门指定并公布的执法站所、停车场、卸载场等具有停放车辆及卸载条件的地点或者场所进行处理。</p><p> 
第三十六条 经检测认定违法超限运输的，公路管理机构应当责令当事人自行采取卸载等措施，消除违法状态；当事人自行消除违法状态确有困难的，可以委托第三人或者公路管理机构协助消除违法状态。</p><p> 
属于载运不可解体物品，在接受调查处理完毕后，需要继续行驶公路的，应当依法申请公路超限运输许可。 </p><p>
第三十七条 公路管理机构对车辆进行超限检测，不得收取检测费用。对依法扣留或者停放接受调查处理的超限运输车辆，不得收取停车保管费用。由公路管理机构协助卸载、分装或者保管卸载货物的，超过保管期限经通知当事人仍不领取的，可以按照有关规定予以处理。 </p><p>
第三十八条 公路管理机构应当使用经国家有关部门检定合格的检测设备对车辆进行超限检测；未定期检定或者检定不合格的，其检测数据不得作为执法依据。 </p><p>
第三十九条 收费高速公路入口应当按照规定设置检测设备，对货运车辆进行检测，不得放行违法超限运输车辆驶入高速公路。其他收费公路实行计重收费的，利用检测设备发现违法超限运输车辆时，有权拒绝其通行。收费公路经营管理者应当将违法超限运输车辆及时报告公路管理机构或者公安机关交通管理部门依法处理。 </p><p>
公路管理机构有权查阅和调取公路收费站车辆称重数据、照片、视频监控等有关资料，经确认后可以作为行政处罚的证据。 </p><p>
第四十条 公路管理机构应当根据保护公路的需要，在货物运输主通道、重要桥梁入口处等普通公路以及开放式高速公路的重要路段和节点，设置车辆检测等技术监控设备，依法查处违法超限运输行为。</p><p> 
第四十一条 新建、改建公路时，应当按照规划，将超限检测站点、车辆检测等技术监控设备作为公路附属设施一并列入工程预算，与公路主体工程同步设计、同步建设、同步验收运行。</p><p>
</p>
	</div>
	<div class="div1"><span>第四章　法律责任</span></div>
	<div class="p-con">
		<p>第四十二条 违反本规定，依照《公路法》《公路安全保护条例》《道路运输条例》和本规定予以处理。 </p><p>
第四十三条 车辆违法超限运输的，由公路管理机构根据违法行为的性质、情节和危害程度，按下列规定给予处罚:</p><p>
（一）车货总高度从地面算起未超过4.2米、总宽度未超过3米且总长度未超过20米的，可以处200元以下罚款；车货总高度从地面算起未超过4.5米、总宽度未超过3.75米且总长度未超过28米的，处200元以上1000元以下罚款；车货总高度从地面算起超过4.5米、总宽度超过3.75米或者总长度超过28米的，处1000元以上3000元以下的罚款；</p><p>
（二）车货总质量超过本规定第三条第一款第四项至第八项规定的限定标准，但未超过1000千克的，予以警告；超过1000千克的，每超1000千克罚款500元，最高不得超过30000元。 </p><p>
有前款所列多项违法行为的，相应违法行为的罚款数额应当累计，但累计罚款数额最高不得超过30000元。 </p><p>
第四十四条 公路管理机构在违法超限运输案件处理完毕后7个工作日内，应当将与案件相关的下列信息通过车辆超限管理信息系统抄告车籍所在地道路运输管理机构： </p><p>
（一）车辆的号牌号码、车型、车辆所属企业、道路运输证号信息； </p><p>
（二）驾驶人的姓名、驾驶人从业资格证编号、驾驶人所属企业信息； </p><p>
（三）货运源头单位、货物装载单信息； </p><p>
（四）行政处罚决定书信息； </p><p>
（五）与案件相关的其他资料信息。 </p><p>
第四十五条 公路管理机构在监督检查中发现违法超限运输车辆不符合《汽车、挂车及汽车列车外廓尺寸、轴荷及质量限值》（GB1589），或者与行驶证记载的登记内容不符的，应当予以记录，定期抄告车籍所在地的公安机关交通管理部门等单位。 </p><p>
第四十六条 对1年内违法超限运输超过3次的货运车辆和驾驶人，以及违法超限运输的货运车辆超过本单位货运车辆总数10%的道路运输企业，由道路运输管理机构依照《公路安全保护条例》第六十六条予以处理。 </p><p>
前款规定的违法超限运输记录累计计算周期，从初次领取《道路运输证》、道路运输从业人员从业资格证、道路运输经营许可证之日算起，可跨自然年度。 </p><p>
第四十七条 大件运输车辆有下列情形之一的，视为违法超限运输: </p><p>
（一）未经许可擅自行驶公路的； </p><p>
（二）车辆及装载物品的有关情况与《超限运输车辆通行证》记载的内容不一致的； </p><p>
（三）未按许可的时间、路线、速度行驶公路的； </p><p>
（四）未按许可的护送方案采取护送措施的。 </p><p>
第四十八条 承运人隐瞒有关情况或者提供虚假材料申请公路超限运输许可的，除依法给予处理外，并在1年内不准申请公路超限运输许可。 </p><p>
第四十九条 违反本规定，指使、强令车辆驾驶人超限运输货物的，由道路运输管理机构责令改正，处30000元以下罚款。 </p><p>
第五十条 违法行为地或者车籍所在地公路管理机构可以根据技术监控设备记录资料，对违法超限运输车辆依法给予处罚，并提供适当方式，供社会公众查询违法超限运输记录。 </p><p>
第五十一条 公路管理机构、道路运输管理机构工作人员有玩忽职守、徇私舞弊、滥用职权的，依法给予行政处分；涉嫌犯罪的，移送司法机关依法查处。 </p><p>
第五十二条 对违法超限运输车辆行驶公路现象严重，造成公路桥梁垮塌等重大安全事故，或者公路受损严重、通行能力明显下降的，交通运输部、省级交通运输主管部门可以按照职责权限，在1年内停止审批该地区申报的地方性公路工程建设项目。 </p><p>
第五十三条 相关单位和个人拒绝、阻碍公路管理机构、道路运输管理机构工作人员依法执行职务，构成违反治安管理行为的，由公安机关依法给予治安管理处罚；构成犯罪的，依法追究刑事责任。
</p>
	</div>
	<div class="div1"><span>第五章　附　则</span></div>
	<div class="p-con">
		<p>第五十四条 因军事和国防科研需要，载运保密物品的大件运输车辆确需行驶公路的，参照本规定执行；国家另有规定的，从其规定。 </p><p>
第五十五条 本规定自2016年9月21日起施行。原交通部发布的《超限运输车辆行驶公路管理规定》（交通部令2000年第2号）同时废止。</p>
	</div>

	<div class="div1" style="margin-top: 6.0rem;"><span></span></div>
	<div class="div1"><span>附件3</span></div>
	<div class="div1" style="text-align:center"><span>中国大地财产保险股份有限公司<br>公路货物运输保险（2014版）条款</span></div>
	<div class="body-top">保险标的范围</div>
	<div class="p-con">
		<p>
第一条在中华人民共和国境内（不包括港澳台地区）通过公路运输的货物可作为保险标的。</p><p>
第二条下列货物非经投保人与保险人特别约定，并在保险单或其他保险凭证上载明，不在保险标的范围以内：金银、珠宝、钻石、玉器、首饰、古币、古玩、古书、古画、邮票、艺术品、稀有金属等珍贵财物。</p><p>
第三条下列货物不在保险标的范围以内：蔬菜、水果，活牲畜、禽鱼类和其他动物，以及任何非法货物。
</p>
	</div>
	<div class="body-top">保险责任</div>
	<div class="p-con">
		<p>第四条 投保人可根据需要，选择投保基本险或综合险。</p><p>
第五条基本险</p><p>
（一）保险人对由于下列原因造成的被保险货物的损失，按照本保险合同的约定负责赔偿：</p><p>
1、火灾、爆炸、雷电、冰雹、暴风、暴雨、洪水、海啸、地陷、崖崩、突发性滑坡、泥石流；</p><p>
2、运输工具发生碰撞、倾覆，或隧道、码头坍塌，或在驳运过程中因驳运工具遭受搁浅、触礁、沉没、碰撞；</p><p>
3、在装货、卸货或转载时发生意外事故；</p><p>
4、在上述各项自然灾害或意外事故发生时，因纷乱致使被保险货物散失。</p><p>
（二）保险事故发生后，被保险人为防止或减少保险标的的损失所支付的必要的、合理的费用（以下简称“施救费用”），保险人按照本保险合同的约定也负责赔偿。</p><p>
第六条综合险</p><p>
（一）保险人除承担基本险的保险责任外，还对由于下列原因造成的被保险货物的损失，按照本保险合同的约定负责赔偿：</p><p>
1、因碰撞、挤压而造成货物破碎、弯曲、凹瘪、折断、开裂；</p><p>
2、因包装破裂致使货物散失；</p><p>
3、液体货物因受碰撞或挤压致使所用容器（包括封口)损坏而渗漏，或用液体保藏的货物因液体渗漏而造成该货物腐烂变质；</p><p>
4、在符合安全运输规定情况下遭受雨淋。</p><p>
（二）前款各项约定的保险事故发生后发生的施救费用，保险人按照本保险合同的约定也负责赔偿。
</p>
	</div>
	<div class="body-top">责任免除</div>
	<div class="p-con">
		<p>第七条由于下列原因造成的损失、费用，保险人不负责赔偿：</p><p>
（一）战争、敌对行为、军事行动、扣押、罢工、暴动、哄抢；</p><p>
（二）地震；</p><p>
（三）盗窃或整件提货不着；</p><p>
（四）在保险责任开始前，被保险货物已存在的品质不良或数量短差；</p><p>
（五）被保险货物的自然损耗、本质缺陷、特性；</p><p>
（六）市价跌落、运输延迟；</p><p>
（七）发货人责任；</p><p>
（八）投保人、被保险人的故意行为或违法行为。</p><p>
第八条其他不属于本保险责任范围的损失、费用，保险人不负责赔偿。
</p>
	</div>
	<div class="body-top">责任起讫</div>
	<div class="p-con">
		<p>第九条保险责任自签发保险单或其他保险凭证后，被保险货物运离起运地发货人的最后一个仓库或储存处所时开始，至该保险单或其他保险凭证上注明的目的地的收货人在当地的第一个仓库或储存处所时终止。但被保险货物运抵目的地后，如果收货人未及时提货，则自被保险货物卸离运输工具次日起算，保险责任的终止期最多延长十五天。</p>
	</div>
	<div class="body-top">保险金额</div>
	<div class="p-con">
		<p>第十条保险金额由投保人以投保时货物的实际价值或货物的实际价值加运杂费为基础自行确定，并在保险合同中载明。</p>
	</div>
	<div class="body-top">投保人、被保险人的义务</div>
	<div class="p-con">
		<p>第十一条投保人应当履行如实告知义务，如实回答保险人就保险标的或者被保险人的有关情况提出的询问。</p><p>
投保人故意或因重大过失未履行前款约定的如实告知义务，足以影响保险人决定是否同意承保或者提高保险费率的，保险人有权解除保险合同。</p><p>
投保人故意不履行如实告知义务的，保险人对于保险合同解除前发生的保险事故，不承担赔偿保险金的责任，并不退还保险费。</p><p>
投保人因重大过失未履行如实告知义务，对保险事故的发生有严重影响的，保险人对于保险合同解除前发生的保险事故，不承担赔偿保险金的责任，但应当退还保险费。</p><p>
第十二条投保人在保险人或其代理人签发保险单或其他保险凭证的同时，应一次交清保险费。发生保险事故时，投保人未交付保险费的，保险人不承担赔偿保险金的责任；投保人已交付部分保险费的，保险人按照已交付保险费与保险费总额的比例承担赔偿保险金的责任。</p><p>
第十三条　投保人和被保险人应当严格遵守国家及交通运输主管部门关于安全运输的各项规定，维护保险标的的安全。货物运输包装应当符合国家和主管部门规定的标准。</p><p>
保险人可以对保险标的的安全状况进行检查，向投保人、被保险人提出消除不安全因素和隐患的书面建议，被保险人应该认真付诸实施。</p><p>
因被保险人未遵守上述约定而导致保险事故的，保险人不承担赔偿保险金的责任；因被保险人未遵守上述约定而导致损失扩大的，保险人对扩大的损失不承担赔偿保险金的责任。</p><p>
第十四条　在合同有效期内，保险标的危险程度显著增加的，被保险人应当及时通知保险人，保险人有权要求增加保险费或者解除合同。 </p><p>
被保险人未履行前款约定的通知义务的，因保险标的危险程度显著增加而发生的保险事故，保险人不承担赔偿保险金的责任。</p><p>
第十五条 被保险货物如果发生保险责任范围内的损失，投保人或被保险人获悉后，应迅速采取合理的施救和保护措施，并立即通知保险人的当地机构（自当日起算，最迟不超过10天）。</p><p>
故意或者因重大过失未及时通知，致使保险事故的性质、原因、损失程度等难以确定的，保险人对无法确定的部分，不承担赔偿保险金的责任，但保险人通过其他途径已经及时知道或者应当及时知道保险事故发生的除外。
</p>
	</div>
	<div class="body-top">赔偿处理</div>
	<div class="p-con">
		<p>第十六条被保险人向保险人申请索赔时，应当提供下列有关单证：</p><p>
（一）保险单或其他保险凭证、运单（货票）、提货单、发票（货价证明）；</p><p>
（二）承运部门出具的事故签证、交接验收记录、鉴定书；</p><p>
（三）收货人的入库记录、检验报告、损失清单及施救费用单据；</p><p>
（四）被保险人所能提供的与确认保险事故的性质、原因、损失程度等有关的其他证明和资料。</p><p>
第十七条保险人收到被保险人的赔偿请求后，应当及时就是否属于保险责任作出核定。情形复杂的，保险人在收到被保险人的赔偿请求并提供理赔所需资料后三十日内未能核定保险责任的，保险人与被保险人根据实际情形商议合理期间，保险人在所商定的期间内作出核定。</p><p>
保险人应当将核定结果通知被保险人。对属于保险责任的，在与被保险人达成有关赔偿金额的协议后十日内，履行赔偿义务；对不属于保险责任的，应当自作出核定之日起三日内向被保险人发出拒绝赔偿保险金的通知，并说明理由。</p><p>
第十八条被保险货物遭受损失后，如果有残余价值，应由双方协商处理。如折归被保险人，由双方协商确定其价值，并在保险赔款中扣除。</p><p>
第十九条被保险货物发生保险责任范围内的损失，保险人按以下方式计算赔偿：</p><p>
（一）保险金额等于或高于保险价值时，按实际损失计算赔偿，最高不超过保险价值；</p><p>
（二）保险金额低于保险价值时，按保险金额与保险价值的比例乘以实际损失计算赔偿，最高不超过保险金额。</p><p>
第二十条对于施救费用，保险人按以下方式计算赔偿：</p><p>
保险金额大于或等于保险价值时，施救费用在被保险货物的损失赔偿金额以外另行计算，最高不超过保险价值。</p><p>
保险金额小于保险价值时，上述费用按保险金额与保险价值的比例在被保险货物的损失赔偿金额以外另行计算，最高不超过保险金额。</p><p>
第二十一条 发生保险责任范围内的损失，应由有关责任方负责赔偿的，保险人自向被保险人赔偿保险金之日起，在赔偿金额范围内代位行使被保险人对有关责任方请求赔偿的权利，被保险人应当向保险人提供必要的文件和所知道的有关情况。</p><p>
被保险人已经从有关责任方取得赔偿的，保险人赔偿保险金时，可以相应扣减被保险人已从有关责任方取得的赔偿金额。</p><p>
保险事故发生后，在保险人未赔偿保险金之前，被保险人放弃对有关责任方请求赔偿权利的，保险人不承担赔偿责任；保险人向被保险人赔偿保险金后，被保险人未经保险人同意放弃对有关责任方请求赔偿权利的，该行为无效；由于被保险人故意或者因重大过失致使保险人不能行使代位请求赔偿的权利的，保险人可以扣减或者要求返还相应的保险金。
</p>
	</div>
	<div class="body-top">争议处理和法律适用</div>
	<div class="p-con">
		<p>第二十二条因履行本保险合同发生的争议，由当事人协商解决。协商不成的，提交保险单载明的仲裁机构仲裁；保险单未载明仲裁机构且争议发生后未达成仲裁协议的，依法向人民法院起诉。</p><p>
第二十三条与本保险合同有关的以及履行本保险合同产生的一切争议，适用中华人民共和国法律（不包括港澳台地区法律）。
</p>
	</div>
	<div class="body-top">其他事项</div>
	<div class="p-con">
		<p>第二十四条凡经公路与其他运输方式联合运输的被保险货物，按相应的运输方式分别适用本条款及《铁路货物运输保险条款》、《水路货物运输保险条款》和《国内航空货物运输保险条款》。</p><p>
第二十五条凡涉及本保险的约定均应采用书面形式。
</p>
	</div>

	<div class="div1" style="margin-top: 6.0rem;"><span></span></div>
	<div class="div1"><span>附件4</span></div>
	<div class="div1" style="text-align:center"><span>中国大地财产保险股份有限公司<br>国内鲜活货物运输保险条款
</span></div>
	<div class="body-top">总则</div>
	<div class="p-con">
		<p>
第一条本保险合同（以下简称“本合同”）由保险条款、投保单、保险单以及批单组成。凡涉及本合同的约定，均应采用书面形式。</p><p>
第二条凡依法设立的企事业单位、社会团体、个体工商户、其他经济组织和自然人，均可作为投保人、被保险人。
</p>
	</div>
	<div class="body-top">保险标的</div>
	<div class="p-con">
		<p>第三条在中华人民共和国境内（不包含港澳台地区）运输且符合专业运输要求的下列货物，均可作为本保险的保险标的：</p><p>
第一类货物：活家禽、活牲畜、活水产；</p><p>
第二类货物：新鲜蔬菜、新鲜水果、花草、苗木、粮食、以及新鲜水产、新鲜肉蛋奶；</p><p>
第三类货物：上述所列明第一类和第二类货物的加工品。</p><p>
第四条下述货物未经保险合同双方特别约定并在保险合同中载明保险价值的，不属于本保险的保险标的：</p><p>
依照中华人民共和国有关法律法规的规定属于受保护野生动植物、珍稀濒危保护动植物范围内，且被保险人依法可以将其运输并符合专业运输要求的动植物。
</p>
	</div>
	<div class="body-top">保险责任</div>
	<div class="p-con">
		<p>第五条　在保险期间内，由于下列原因造成属于第一类货物的保险标的死亡的直接损失，保险人依照本合同的约定负责赔偿：</p><p>
（一）雷电、冰雹、暴风、暴雨、洪水；</p><p>
（二）地陷、崖崩、突发性滑坡、泥石流；</p><p>
（三）火灾、爆炸；</p><p>
（四）运输工具发生碰撞、倾覆、坠落、搁浅、触礁、沉没，或遭遇隧道、码头坍塌。</p><p>
第六条 在保险期间内，由于第五条所列明原因造成属于第二类或第三类货物的保险标的的直接损失，保险人依照本合同的约定负责赔偿。</p><p>
第七条保险事故发生后，被保险人为防止或者减少保险标的的损失所支付的必要的、合理的费用，保险人按照本合同的约定也负责赔偿。
</p>
	</div>
	<div class="body-top">责任免除</div>
	<div class="p-con">
		<p>第八条由于下列原因造成保险标的的损失和费用，保险人不负责赔偿：</p><p>
（一）地震、海啸；</p><p>
（二）核辐射、核爆炸、核污染、放射性污染、大气污染、土地污染及其他各种污染；</p><p>
（三）行政行为或司法行为；</p><p>
（四）战争、敌对行为、军事行为、武装冲突、罢工、骚乱、暴动、恐怖活动；</p><p>
（五）属于发货人责任引起的损失；在保险责任开始前，保险标的已存在品质不良或数量短少所形成的损失；包装不善；</p><p>
（六）保险标的的自然损耗、本质缺陷，市价跌落；</p><p>
（七）盗窃、抢劫、哄抢行为；</p><p>
（八）投保人、被保险人的故意、重大过失或违法行为；</p><p>
（九）疾病、怀仔、防疫注射或接种。</p><p>
第九条 下列损失和费用，保险人不负责赔偿：</p><p>
（一）无论任何原因引起的运输延迟所导致的货物损失；</p><p>
（二）罚款、罚金、惩罚性赔偿、精神损害赔偿及其他各种间接损失；</p><p>
（三）本合同中载明的每次事故免赔额或按照本合同中载明的每次事故免赔率计算的每次事故免赔额。</p><p>
第十条 若采用定额保险方式承保，下列情形下发生的损失和费用，保险人也不负责赔偿：</p><p>
（一）不符合专业及安全运输要求；</p><p>
（二）驾驶人员酒后驾车、无有效驾驶证驾驶，承运汽车无有效行驶证、未经检验或检验不合格。</p><p>
第十一条其他不属于保险责任范围内的损失和费用，保险人不负责赔偿。</p><p>
</p>
	</div>
	<div class="body-top">责任起讫</div>
	<div class="p-con">
		<p>第十二条保险责任自签发保险单后，保险标的装上保险单所载明的运输工具时开始，至卸离运输工具时终止。</p><p>
若保险标的运抵目的地后未立即卸离运输工具，公路运输的，保险责任最多延长至到达目的地后三小时终止；其他运输方式的，保险责任最多延长至到达目的地后二十四小时终止。
</p>
	</div>
	<div class="body-top">保险价值、保险金额与免赔额（率）</div>
	<div class="p-con">
		<p>第十三条 保险价值按运输工具所载保险标的发票金额或发票金额加运杂费确定。保险金额参照保险价值确定，也可以由保险双方协商确定，并在保险合同中载明。</p><p>
第十四条 每次事故免赔额（率）由投保人与保险人在订立保险合同时协商确定，并在保险合同中载明。
</p>
	</div>
	<div class="body-top">投保人、被保险人的义务</div>
	<div class="p-con">
		<p>第十五条投保人、被保险人应当履行如实告知义务，如实回答保险人就保险标的或投保人、被保险人的有关情况提出的询问，并如实填写投保单。</p><p>
投保人故意或者因重大过失未履行前款规定的如实告知义务，足以影响保险人决定是否同意承保或者提高保险费率的，保险人有权解除本合同。本合同自保险人的解约通知书到达投保人或被保险人时解除。</p><p>
投保人故意不履行如实告知义务的，保险人对于本合同解除前发生的保险事故，不承担赔偿责任，并不退还保险费。</p><p>
投保人因重大过失未履行如实告知义务，对保险事故的发生有严重影响的，保险人对于本合同解除前发生的保险事故，不承担赔偿责任，但应当退还保险费。</p><p>
第十六条投保人在保险人或其代理人签发保险单（凭证）时，应一次交清保险费。</p><p>
第十七条发生保险责任范围内的事故，被保险人应当：</p><p>
（一）立即通知保险人，并书面说明事故发生的原因、经过和损失程度。故意或者因重大过失未及时通知，致使保险事故的性质、原因、损失程度等难以确定的，保险人对无法确定的部分，不承担赔偿责任，但保险人通过其他途径已经及时知道或者应当及时知道保险事故发生的除外；</p><p>
（二）尽力采取必要、合理的措施，使损失减少至最低限度。否则，对因此扩大的损失，保险人不承担赔偿责任；</p><p>
（三）保护事故现场，允许并且协助保险人进行事故查勘。对于拒绝或者妨碍保险人进行事故查勘导致无法确定事故原因或核实损失情况的，保险人对不能核实部分不承担赔偿责任。</p><p>
第十八条被保险人向保险人请求赔偿时，应提供下列单证：</p><p>
（一）保险单正本、运输合同、货物发票；</p><p>
（二）属于道路交通事故的，被保险人应当提供载运车辆的行驶证和驾驶证复印件、公安交通管理部门或法院等机构出具的事故证明、有关的法律文书（判决书、调解书、裁定书、裁决书等）；属于非道路交通事故的，应提供相关的事故证明；</p><p>
（三）保险标的损失清单及救护保险标的而支付必要的、合理的费用的单据；</p><p>
（四）投保人、被保险人所能提供的与确认保险事故的性质、原因、损失程度等有关的其他证明和资料。</p><p>
投保人、被保险人未履行前款约定的单证提供义务，导致保险人无法核实损失情况的，保险人对无法核实的部分不承担赔偿责任。</p><p>
第十九条 发生保险责任范围内的损失，应由有关责任方负责赔偿的，保险人自向被保险人赔偿保险金之日起，在赔偿金额范围内代位行使被保险人对有关责任方请求赔偿的权利，被保险人应当向保险人提供必要的文件和所知道的有关情况。</p><p>
被保险人已经从有关责任方取得赔偿的，保险人赔偿保险金时，可以相应扣减被保险人已从有关责任方取得的赔偿金额。</p><p>
保险事故发生后，在保险人未赔偿保险金之前，被保险人放弃对有关责任方请求赔偿权利的，保险人不承担赔偿责任。保险人向被保险人赔偿保险金后，被保险人未经保险人同意放弃对有关责任方请求赔偿权利的，该行为无效。由于被保险人故意或者重大过失致使保险人不能行使代位请求赔偿的权利的，保险人可以扣减或者要求返还相应的保险金。
</p>
	</div>
	<div class="body-top">赔偿处理</div>
	<div class="p-con">
		<p>第二十条保险人收到被保险人的赔偿请求后，应当及时就是否属于保险责任作出核定，并将核定结果通知被保险人。情形复杂的，保险人在收到被保险人的赔偿请求及理赔所需资料后三十日内未能核定保险责任的，保险人与被保险人根据实际情形商议合理期间，保险人在商定的期间内作出核定结果并通知被保险人。对于属于保险责任的，在与被保险人达成有关赔偿金额的协议后十日内，履行赔偿义务。</p><p>
第二十一条被保险人在请求赔偿时应当向保险人说明与受损标的有关的其他保险合同的情况。对未如实说明导致保险人多支付保险赔款的，保险人有权向被保险人追回多支付的部分。</p><p>
第二十二条保险标的发生保险责任范围内的损失时，保险人按照以下方式确定赔偿金额：</p><p>
（一）保险金额等于或高于保险价值时，按实际损失金额扣除每次事故免赔额计算赔偿（见下一公式），最高不超过保险价值。</p><p>
赔偿金额=实际货损金额-每次事故免赔额</p><p>
（二）保险金额低于保险价值时，按实际损失金额乘以保险金额与保险价值的比例后扣除每次事故免赔额计算赔偿（见下一公式），最高不超过保险金额。</p><p>
赔偿金额=实际货损金额×（保险金额/保险价值）-每次事故免赔额</p><p>
第二十三条　保险标的的保险金额等于或高于保险价值时，被保险人为防止或减少保险标的的损失所支付的必要的、合理的费用，在保险标的损失赔偿金额之外另行计算赔偿，最高不超过被施救标的的保险价值。</p><p>
保险标的的保险金额低于保险价值时，前款所述费用按被施救标的的保险金额与保险价值的比例，在保险标的损失赔偿金额之外另行计算赔偿，最高不超过被施救标的的保险金额。</p><p>
第二十四条 被保险人向保险人请求赔偿的诉讼时效期间为二年，自其知道或者应当知道保险事故发生之日起计算。
</p>
	</div>
	<div class="body-top">争议处理</div>
	<div class="p-con">
		<p>第二十五条　因履行本合同发生的争议，由当事人协商解决，协商不成的,提交保险单载明的仲裁机构仲裁；保险单未载明仲裁机构且争议发生后未达成仲裁协议的，依法向人民法院起诉。</p><p>
第二十六条与本合同有关的以及履行本合同产生的争议，适用中华人民共和国法律（不包括港澳台地区法律）。
</p>
	</div>
	<div class="body-top">释义</div>
	<div class="p-con">
		<p>第二十七条本合同有关术语释义如下：</p><p>
（一）火灾：指在时间或空间上失去控制的燃烧所造成的灾害。它必须具备三个条件：1.有燃烧现象，即有热有光有火焰；2.偶然、意外发生的燃烧；3.燃烧失去控制并有蔓延扩大的趋势。</p><p>
（二）爆炸：包括物理性爆炸和化学性爆炸。物理性爆炸指由于液体、固体变为蒸汽或气体膨胀，压力急剧增加并超过容器所能承受的极限压力而发生的爆炸。化学性爆炸指物体在瞬间分解或燃烧时放出大量的热和气体，并以很大的压力向四周扩散的现象。</p><p>
（三）雷电：指积雨云中、云间或云地之间产生的放电现象，其破坏形式分为直接雷击和感应雷击两种。</p><p>
（四）冰雹：从强烈对流的积雨云中降落到地面的冰块或冰球，是直径大于5毫米，核心坚硬的固体降水。</p><p>
（五）暴风：指风力达8级、风速在17.2米/秒以上的自然风。</p><p>
（六）暴雨：指每小时降雨量达16毫米以上，或连续12小时降雨量达30毫米以上，或连续24小时降雨量达50毫米以上的降雨。</p><p>
（七）洪水：指山洪暴发、江河泛滥、潮水上岸及倒灌。</p><p>
（八）地陷：地壳自然变异、地层收缩引起地面突然下陷。</p><p>
（九）崖崩：石崖、土崖等陡坡上大块的岩石在重力作用下突然崩落的物理现象。</p><p>
（十）突发性滑坡：斜坡上不稳的岩土体或人为堆积物在重力作用下突然整体向下滑动的现象。</p><p>
（十一）泥石流：由于雨水、冰雪融化等水源激发的、含有大量泥沙石块的特殊洪流。</p><p>
（十二）倾覆：指运输工具翻倒或倾侧失去正常状态，非经施救不能继续行驶。
</p>
	</div>
	<div class="div1" style="margin-top: 6.0rem;"><span></span></div>
	<div class="div1"><span>附件5</span></div>
	<div class="div1" style="text-align:center"><span>中国大地财产保险股份有限公司<br>公路货物运输保险附加哄抢保险条款
</span></div>
	<div class="body-top">总则</div>
	<div class="p-con">
		<p>第一条在投保了公路货物运输保险或公路货物运输定额保险（以下简称“主险”）的基础上，投保人可投保附加哄抢保险（以下简称“本附加险”）。</p><p>
第二条本附加险条款未尽事宜，以主险条款为准；本附加险条款与主险条款相抵触之处，以本附加险条款为准。
</p>
	</div>
	<div class="body-top">保险责任</div>
	<div class="p-con">
		<p>第三条 对保险货物在保险期间内由于外来的有哄抢痕迹并经公安部门证明确系哄抢行为所致的直接经济损失，保险人依照本附加险的约定承担赔偿责任。</p>
	</div>
	<div class="body-top">责任起讫</div>
	<div class="p-con">
		<p>第四条保险责任自签发保险单或其他保险凭证后，保险货物运离保险单或其他保险凭证上载明的起运地发货人的最后一个仓库或储存处所时起，至保险货物运抵保险单或其他保险凭证载明的目的地的收货人在当地的第一个仓库或储存处所卸离运输工具时止。但保险货物运抵目的地后，如未得到及时卸货，则保险责任的终止期自抵达目的地当日零时起计算最多延长48小时。</p>
	</div>
	<div class="body-top">责任免除</div>
	<div class="p-con">
		<p>第五条 下列原因造成的保险货物的损失，保险人不负赔偿责任：</p><p>
（一）保险货物被政府有关部门征用、罚没、扣押；</p><p>
（二）被保险人或驾驶员与他人发生民事纠纷；</p><p>
（三）投保人或被保险人的故意行为、违法犯罪行为；</p><p>
（四）其他不属于本附加险保险责任范围列明的原因。</p><p>
投保人、被保险人的义务</p><p>
第六条投保人或被保险人获知或应当获知保险货物发生保险责任范围内的损失后，应立即向当地公安部门报案，并及时通知保险人。</p><p>
第七条遵守和履行主险条款约定的其他义务。
</p>
	</div>
	<div class="body-top">赔偿处理</div>
	<div class="p-con">
		<p>第八条被保险人请求赔偿时，应向保险人提供下列证明与资料：</p><p>
（一）出险地公安部门出具的证明材料；</p><p>
（二）哄抢事故报告、损失清单；</p><p>
（三）保险人认为必要的其他证明和资料。</p><p>
被保险人未履行前款约定的索赔材料提供义务，导致保险人无法核实损失情况的，保险人对无法核实的部分不承担赔偿责任。</p><p>
第九条经公安部门破案追回的保险货物，如果折归被保险人，应在赔款中扣除。</p><p>
第十条 保险货物发生保险责任范围内的损失时，赔偿按主险条款赔偿处理的有关规定计算赔偿金额。除另有约定外，被抢货物的赔偿均实行10%的绝对免赔。
</p>
	</div>
	
	
	<!--------------------------附录------------------------------------------>
	
	<!--------------------------附录------------------------------------------>
	
	
</div>
<script>
	/*取URL里面的参数*/
//	var getParamVal = function(key) {
//	    var reg = new RegExp("(^|&|\\?)"+ key +"=([^&]*)(&|$)");
//	    if (ret = location.search.match(reg)) {
//	        return decodeURIComponent(ret[2]);
//	    }
//	    return '';
//	}
//	var type = getParamVal('type');//1司机；2货主
//	if(type=='1'){
//		//默认展示
//	}else if(type=='2'){
//		document.getElementById("owner").style.display='block';
//		document.getElementById("driver").style.display='none';
//	}
	if(window.tf56){
		document.getElementById("tf56Show").style.display='none';
	}
</script>
</body>
</html>