<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
        <meta name="format-detection" content="telephone=no"/>
        <title>帮助中心</title>
		<!-- css引入 -->
		<link rel="stylesheet" href="../css/common/resetnew-min.css" />
		<link rel="stylesheet" href="../css/common/common.css" type="text/css"  />
		<link rel="stylesheet" href="../css/page/p_help.css" />
	</head>
	<body class="body-bg">
		<!--主体-->
		<div class="body-main" id="body-main">
			<!--头部-->
			<div class="body-top hid">
				<div class="nvbt iback" onclick="backFun()"></div>
				<div class="nvtt">帮助中心</div>
			</div>
			<!--内容-->
			<div class="body-content" id="body-content">
                <!--<div class="p-tit">热门问题</div>
                <div class="p-data">
                	<div class="p-li">
                		<p class="p-question"><i class="help-go"></i>如何更换绑定的手机号码？</p>
                		<p class="p-con">请您打开软件“我的”页面，点开</p>
                	</div>
                	<div class="p-li">
                		<p class="p-question"><i class="help-down"></i>如何更换绑定的手机号码？</p>
                		<p class="p-con">如何更换绑定的手机号码？</p>
                	</div>
                </div>
                <div class="p-tit">问题分类</div>
                <div class="p-data">
                	<p class="p-li2 br"><i class="help-go"></i>用户与登录</p>
                	<p class="p-li2"><i class="help-go"></i>用户与登录</p>
                	<p class="p-li2 br"><i class="help-go"></i>用户与登录</p>
                	<p class="p-li2"><i class="help-go"></i>用户与登录</p>
                </div>-->
			</div>
		</div>
		<!-- js引入 -->
		<script type="text/javascript" src="../js/lib/fastclick.js" ></script>
		<script type="text/javascript" src="../js/common/data.js" ></script>
		<script type="text/javascript" src="../js/common/partyApi.js" ></script>
		<script type="text/javascript" src="../js/weiget/getJsonp.js" ></script>
		<script type="text/javascript" src="../js/lib/zepto.min.js" ></script>
		<script type="text/javascript" src="../js/weiget/base.js" ></script>
		<script type="text/javascript" src="../js/page/p_help_new.js" ></script>
	</body>
</html>