<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<meta id="format-detection" content="telephone=no" />
		<title>陆鲸</title>
		<!-- css引入 -->
		<link rel="stylesheet" href="../css/common/resetnew-min.css" />
		<link rel="stylesheet" href="../css/common/common.css" type="text/css" />
		<link rel="stylesheet" href="../css/page/p_kuiHua.css" />
	</head>

	<body class="body-bg huiHua">
		<!--主体-->
		<div class="body-main">
			<!--头部-->
			<!--<div class="body-top">
				<div class="nvbt iback" onclick="backFun()"></div>
				<div class="nvtt">DEMO</div>
			</div>-->
			<!--内容-->
			<div class="body-content no-top">
				<div class="header">
					<div class="hd-box">
						<div class="khbd">
							<h1>葵花宝典</h1>
						</div>
						<div class="logo">
							<img class="logo-p" src="../css/img/k-logo.png" alt="" />
						</div>
					</div>
					<p>传化物流互联网事业群出品</p>
					<div class="hr"></div>
				</div>
				<div class="main">
					<div class="welcome">
						<p>亲爱的新伙伴：</p>
						<p>传化物流互联网事业群热烈欢迎您的加盟，很高兴您成为传化大家庭中的一员，相信在您与我们的共同努力下，传化物流必将日益壮大，传化将与您一起迎来它辉煌的明天。新的环境，需要您尽快的融入，对于您马上需要知道的方面赶紧了解下吧！</p>
					</div>
				</div>
				<div class="main-down">
					<div class="nav">
						<!--<a id="top"></a>-->
						<p>葵花宝典</p>
						<ul class="menu">办公篇
							<li><a href="#rest">一、作息时间</a></li>
							<li><a href="#address">二、办公地址</a></li>
							<li><a href="#oa">三、OA使用</a></li>
							<li><a href="#yunwei">四、办公设备运维</a></li>
							<li><a href="#goods">五、办公用品领用</a></li>
							<li><a href="#wuliu">六、收发快递</a></li>
							<li><a href="#mingPian">七、印制名片</a></li>
							<li><a href="#renLi">八、人力资源</a></li>
						</ul>
						<ul class="menu">生活篇
							<li><a href="#bus">一、公交线路</a></li>
							<li><a href="#food">二、中餐去哪儿</a></li>
							<li><a href="#happy">三、娱乐商圈</a></li>
							<li><a href="#citizen">四、市民卡办理</a></li>
							<li><a href="#sheBao">五、社保转移</a></li>
							<li><a href="#yiDi">六、异地办公使用医保</a></li>
							<li><a href="#gjj">七、公积金提取</a></li>
						</ul>
					</div>
					<div class="hr"></div>
					<div class="de-box">
						<div class="details">
							<img src="../css/img/k-banGongP.png" alt="" />
							<div class="d-box">
								<p class="d-hd" id="rest">一、作息时间</p>
								<p class="d-details">上午8：30-下午17：30(上下班不打卡哦，工作时间不在岗请招呼考勤员妹子和Leader!)</p>
							</div>
							<div class="d-box">
								<p class="d-hd" id="address">二、办公地址</p>
								<p class="d-details">杭州市滨江区秋溢路228号(与江虹路交叉口)江虹国际创意园6号楼12-13楼，4号楼8楼;</p>
							</div>
							<div class="d-box">
								<p class="d-hd" id="oa">三、OA使用</p>
								<p class="d-details mar">1.OA地址:10.100.0.16</p>
								<p class="d-details mar">2.登陆账户:工号或姓名;密码:默认为身份证后8位</p>
								<p class="d-details">3.通讯录设置:"进入OA -> 我的办公 -> 我的通讯录 -> 设置我的通讯录 -> 录入个人通讯信息 -> 提交"</p>
							</div>
							<div class="d-box">
								<p class="d-hd" id="yunwei">四、办公设备运维</p>
								<p class="d-details">电脑系统崩溃了，网络无法连接，请拨打(18268406929),张志阳会通通帮你搞定~</p>
							</div>
							<div class="d-box">
								<p class="d-hd" id="goods">五、办公用品领用</p>
								<p class="d-details">开领料单，并找直接领导签字，随后拿着领料单找综合行政部方莉莉(81108558/66558)即可。</p>
							</div>
							<div class="d-box">
								<p class="d-hd" id="wuliu">六、收发快递</p>
								<p class="d-details mar">发快递:到6号楼12楼前台填写快递单，快递员会定时上门取件。</p>
								<p class="d-details mar">收快递:快递员将快件放置于6号楼12楼前台，请本人到前台收快递。</p>
								<p class="d-details">收件地址:杭州市滨江区秋溢路228号(与江虹路交叉口)江虹国际创意园6号楼12楼</p>
							</div>
							<div class="d-box">
								<p class="d-hd" id="mingPian">七、印制名片</p>
								<p class="d-details mar">填写《传化物流集团名片制作申请单》，发给综合行政部徐建飞</p>
								<p class="d-details">(81108567/66567),徐建飞确认信息无误后连同其他同事的印刷需求一起发给供应单位印刷。</p>
							</div>
							<div class="d-box">
								<p class="d-hd" id="renLi">八、人力资源</p>
								<p class="d-details mar">1）薪酬保密制度</p>
								<p class="d-details mar">相信在办理入职手续时，我们的伙伴肯定已经跟您强调过这个制度了。薪资制度属于公司机密，任何员工都需要对此严格执行哦，一旦发现泄密行为，处罚还是相当严重的。所以，新同事一定要注意哦，不能主动询问他人或回答他人具体的薪酬哦。</p>
								<p class="d-details mar">2）伯乐奖制度</p>
								<p class="d-details">为鼓励内部员工举荐外部优秀人才，所以小伙伴赶紧充分发挥你的人脉资源吧，如果你觉得公司比较值得推荐，或者有朋友比较符合公司岗位要求，那请联系人力资源部人力同事。奖励标准请见下表:</p>
							</div>
							<table border="1" cellspacing="0" cellpadding="0">
								<tr>
									<th>岗位层级</th>
									<th class="td2">奖励标准</th>
								</tr>
								<tr class="odd">
									<td>主管级或同级别人员</td>
									<td class="td2">3000元</td>
								</tr>
								<tr>
									<td>经理级或同级别人员</td>
									<td class="td2">6000元</td>
								</tr>
								<tr class="odd">
									<td>高管级或同级别人员</td>
									<td class="td2">10000元</td>
								</tr>
							</table>
							<div class="price">
								<p class="priceRule">奖励办法</p>
								<p class="d-details mar">1.推荐人通过初面后，推荐人可获得精美小礼品一份;</p>
								<p class="d-details mar">2.被推荐人六个月试用期满转正后，一次性支付推荐人奖励金额。</p>
								<p class="priceRule">备注</p>
								<p class="d-details mar">被推荐人为社会紧缺人才或试用期内表现特别优秀可适度提高奖励额度。具体额度由评审小组商议决定。</p>
								<p class="d-details mar">奖励金额还是比较丰厚的吧，赶紧推荐吧，以上二项制度的详细内容，请大家参照OA里的制度哦。</p>
							</div>

							<div class="hr"></div>
						</div>
						<div class="details">
							<img src="../css/img/k-lifeP.png" alt="" />
							<img class="map" src="http://file.tf56.com:5683/web/trade/67da509e-99b4-49df-a68c-bdf6335416d7.jpg" alt="" />

							<div class="d-box">
								<p class="d-hd" id="bus">一、公交线路</p>
								<p class="d-details">距地铁1号线(滨和路站、西兴站)约1.7公里;公交线路:115路，116路，B支6路，175路，315路。</p>
							</div>
							<div class="d-box">
								<p class="d-hd" id="food">二、中餐去哪儿</p>
								<p class="d-details">江虹国际创意园2号楼2楼半小时餐厅。</p>
							</div>
							<div class="d-box">
								<p class="d-hd" id="happy">三、娱乐商圈</p>
								<p class="d-details">江虹路右转至江南大道进入左侧的星光大道</p>
							</div>
							<div class="d-box">
								<p class="d-hd" id="citizen">四、市民卡办理</p>
								<p class="d-details">江南大道100号(滨江区政府服务大厅)杭州市民卡服务中心滨江服务点</p>
							</div>
							<div class="d-box">
								<p class="d-hd" id="sheBao">五、社保转移</p>
								<p class="d-details">目前滨江办公的同学社保参缴地都是萧山区，若需办理社保转移，先到原参缴地取得参保证明，再持本人身份证原件去萧山区社保局(萧山区农业大厦)办理接收转移函件(一般是在首次参保次月15日后才能办)。</p>
							</div>
							<div class="d-box">
								<p class="d-hd" id="yiDi">六、异地办公使用医保</p>
								<p class="d-details">若工作需要长期驻外(3个月以上)，可以由人资在社保参缴地进行驻外医疗登记备案，之后在驻外地发生医疗费用，直接凭发票、化验单据等材料回社保参缴地报销。</p>
							</div>
							<div class="d-box">
								<p class="d-hd" id="gjj">七、公积金提取</p>
								<p class="d-details">符合买房、租房、翻修、非萧山户口离职都可以提取公积金，具体要求可查询萧山区公积金中心网站。如需提取，可到人资处领取公积金提取表，盖章后即可携相关资料去办理。</p>
							</div>
						</div>
					</div>
					
				</div>
				<p class="top"><a href="#" id="J_top"><img src="../css/img/p_menu.jpg"/></a></p>
			</div>

		</div>
		<!-- js引入 -->
		<script type="text/javascript" src="../js/lib/zepto.min.js"></script>
		<script type="text/javascript" src="../js/lib/fastclick.js"></script>
		<script type="text/javascript" src="../js/weiget/getJsonp.js"></script>
		<script type="text/javascript" src="../js/weiget/base.js"></script>
		<script type="text/javascript" src="../js/common/data.js"></script>
		<script type="text/javascript" src="../js/page/p_kuiHua.js"></script>
	</body>

</html>