<!doctype html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>陆鲸商家用户协议</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
	<style>
	    /* 适应窗口大小  rem标准模式*/
		@media screen and (max-width: 374px) {
			*{font-size: 16px;line-height: 16px;}
		}
		@media (min-width:375px) and (max-width: 413px) {
			*{font-size: 18px;line-height: 18px;}
		}
		@media (min-width:414px) and (max-width: 479px) {
			*{font-size: 20px;line-height: 20px;}
		}
		@media (min-width:480px) and (max-width:639px){
			*{font-size: 24px;line-height: 24px;}
		}
		@media screen and (min-width: 640px) {
			*{font-size: 32px;line-height: 32px;}
		}
		html{font-family:Verdana,'Hiragino Sans GB','Microsoft Yahei',sans-serif;-webkit-font-smoothing:antialiased}body{padding:0;margin:0}ul,li{list-style:none;margin:0;padding:0}h1,h2,h3,h4,h5,p{margin:0}img{border:0}input,img{vertical-align:middle}*{-webkit-tap-highlight-color:rgba(0,0,0,0)}.clearfix:before,.clearfix:after{display:table;content:"";line-height:0}.clearfix:after{clear:both}
	    *{
	        padding: 0;
	        margin: 0;
	        border: none;
	        color: #3F3F3F;
	    }
	    .body-top {
			height: 3.0rem;
			line-height: 3.0rem;
			font-size: 1.125rem;
			color: #3F3F3F;
			text-align: center;
			width: 100%;
			top: 0px;
			z-index: 100;
		}
	    .title{
	        margin:0.5rem auto;
	        text-align:center;
	        font-size:1.5rem;
	    }
	    div{
	    	font-size: 0.75rem;
	    }
	    .div1{
	    	padding: 0 1.0rem;
	    	margin: 0.6rem 0;
	    }
	    .div1 span{
	    	font-size: 0.875rem;
	    }
	    .p-con{
	    	padding: 0 1.0rem;
	    	/*padding-left:2.0rem;*/
	    	margin: 0.6rem 0;
	    }
	    .p-con p{
	    	font-size: 0.75rem;
	    	margin: 0.2rem 0;
	    }
	    .p-con .span-con{
	    	font-size: 0.75rem;
	    	display: block;
	    	/*padding-left:0.5rem;*/
	    }
	    .p-con p span{
	    	font-size: 0.875rem;
	    }
	    .p-con .span-con p span{
	    	font-size: 0.875rem;
	    }
	    .hid{
	    	display: none;
	    }
	</style>
</head>
<body>


<div class="main-body">
    <div class="body-top hid"> 陆鲸商家用户协议</div>
    <div class="div1"><span>您使用传化物流陆鲸消费服务前应当仔细阅读《传化物流陆鲸消费商家协议》（以下简称“本协议”）的全部内容，尤其是涉及您重大权益的加粗部分的文字。本协议一经勾选，即成为对商家和平台有约束力的法律文件。</span></div>
	<div class="div1"><span>一、	定义：</span></div>
	<div class="p-con">
		<p>1.	传化物流：指传化公路港物流有限公司，传化物流是国内领先的公路物流行业平台运营商，致力于构建“中国公路物流网络运营系统”，通过“互联网物流平台网络”和“公路港共享平台网络”的互联互通，系统性解决中国公路物流短板问题，提升公路物流效率，降低公路物流成本，打造“物流+互联网+金融服务”为特征的中国公路物流新生态。
		</p><p>2.	平台：指传化物流陆鲸消费服务平台（以下简称“平台”）的经营者传化物流，基于互联网及移动网向用户及商家提供的相关服务，平台包括基于互联网的网站（域名：tf56.com）及基于移动网的相关应用、服务等。
		</p><p>3.	用户： 指完成平台注册程序，可以登陆平台获得参与交易或活动的资格的正式注册会员。
		</p><p>4.	商家： 指通过平台发布店铺信息，向平台用户提供商品或服务的自然人、法人或其他组织。
		</p><p>5.	优惠： 指商家通过平台以优惠价格发布商品或服务售卖信息，用户通过平台购买，并凭电子凭证消费的商业活动。
		</p><p>6.	优惠信息： 指商家通过平台发布的商品或服务售卖信息，包含商品或服务的优惠价格、介绍、使用说明等。
		</p><p>7.	优惠券：传化物流陆鲸优惠券的简称，指商家通过平台发布供用户领取的代金券，用户领取优惠券后，在对应商家付款时可按优惠券使用规则以优惠价格消费。
		</p><p>8.	消费券： 传化物流陆鲸消费券的简称，指传化物流通过赠送、市场推广或其他活动向用户提供的可用来抵扣部分优惠价款的代金券，不具有购物凭证的作用。
		</p>
	</div>
	<div class="div1"><span>二、	商家资格及账户</span></div>
	<div class="p-con">
		<p>1.	商家应当为领取营业执照的具有合法经营资格的自然人、法人或其他组织。
		</p><p>2.	商家使用平台提供的网络平台服务，必须：
		</p>
		<span class="span-con">
			<p>a)	自行配备上网的所需设备，包括电脑、调制解调器或其他必备上网装置。
			</p><p>b)	自行负担上网所支付的与此服务有关的电话费用、网络费用。
			</p><p>c)	商家在使用平台服务前，应检查其软硬件设备，保证其处于安全使用状态。
			</p>
		</span>
		<p>3.	商家应妥善保管其平台账户，应定期或不定期修改密码，在每次使用完毕后使其处于“退出”状态，以保证账户安全。使用商家账号进行的行为将被视为商家自身的行为，商家应对此承担相应法律责任。商家不得将平台账户出借、转让或用作其他非法用途，否则因账户未妥善保管而造成损失的，商家应承担由此造成的一切损失。</p>
	</div>
	<div class="div1"><span>三、	传化物流陆鲸消费服务</span></div>
	<div class="p-con">
		<p>1.	商家签署本协议并经平台审核通过后，可通过平台提交、编辑和发布商家信息和产品服务的优惠信息，接受用户查看和下单购买，商家可对优惠产品信息进行相应的设置和管理。
		</p><p>2.	传化物流为商家和用户达成交易提供第三方交易平台服务，平台并非商家和用户之间优惠产品或服务交易的相对方，仅为商家和用户之间通过平台达成优惠交易提供相应的技术服务。
		</p><p>3.	商家使用平台提供的服务，应向平台支付相应的技术服务费，具体费用标准见平台公开发的信息。
		</p>
	</div>
	<div class="div1"><span>四、	商家的声明与保证</span></div>
	<div class="p-con">
		<p>1.	商家保证提交的信息真实、有效、详尽、准确。若信息发生变更的，保证及时予以更新。若商家提交的信息中有虚假、不准确等内容，平台有权停止向商家提供服务。若因商家提交错误、虚假信息产生的法律责任，由商家独立承担；
		</p><p>2.	商家保证提交给平台的资质证明文件真实、合法、有效，保证不向平台提供虚假、错误、失效的资质证明文件，否则因资质问题产生的法律责任，由商家独立承担；
		</p><p>3.	商家保证提供的优惠产品符合国家相关规定，质量合格，来源合法，使用的商标或其他标识合法或得到有效授权，不侵犯任何第三方的合法权利。同时保证拥有优惠产品的合法销售权或经营权，销售或经营的优惠产品与上传的经营资质一致，不超范围经营；
		</p><p>4.	商家保证提交到平台发布的优惠信息真实、准确、合法，且与实际商品和服务一致，没有任何夸大或虚假内容，同时承诺不发布任何包含以下内容的优惠信息：
		</p>
		<span class="span-con">
			<p>a)	反对宪法所确定的基本原则，煽动、抗拒、破坏宪法和法律、行政法规实施的；
			</p><p>b)	煽动颠覆国家政权，推翻社会主义制度，煽动、分裂国家，破坏国家统一的；
			</p><p>c)	损害国家荣誉和利益的；
			</p><p>d)	煽动民族仇恨、民族歧视，破坏民族团结的；
			</p><p>e)	任何包含对种族、性别、宗教、地域内容等歧视的；
			</p><p>f)	捏造或者歪曲事实，散布谣言，扰乱社会秩序的；
			</p><p>g)	宣扬封建迷信、邪教、淫秽、色情、赌博、暴力、凶杀、恐怖、教唆犯罪的
			</p><p>h)	公然侮辱他人或者捏造事实诽谤他人的，或者进行其他恶意攻击的；
			</p><p>i)	损害国家机关信誉的；
			</p><p>j)	其他违反宪法和法律行政法规的。
			</p>
		</span>
		<p>5.	商家在使用平台提供的服务时，不得有下列行为：</p>
		<span class="span-con">
			<p>a)	利用平台从事洗钱、窃取商业秘密、窃取个人信息等违法犯罪活动；
			</p><p>b)	将有关干扰、破坏或限制任何计算机软件、硬件或通讯设备功能的软件病毒或其他计算机代码、档案和程序之资料，加以上载、发布、发送电子邮件或以其他方式传送；
			</p><p>c)	干扰平台正常运行，非法入侵平台服务器、篡改平台代码或其他损害平台系统的行为；
			</p><p>d)	企图规避平台的安全设置或网络系统，包括获取商家不应获取的数据，登录未经明确授权的服务器或账户，或采用运行端口扫描等方式窥探其他网络的安全措施；
			</p><p>e)	以导致平台的计算机系统或设施承受不合理负载的方式获取平台提供的服务或网站信息，或进行可能导致此类情况出现的行为；
			</p><p>f)	实施任何形式的网络监控，从而截取与自身无关的信息；
			</p><p>g)	利用平台从事与网上购物无关或不是以购物为目的的活动，试图扰乱正常购物秩序，谋取不正当利益的行为；
			</p><p>h)	注册多个用户账号，通过自我邀请、相互邀请或利用多个手机或邮箱注册等不正当手段获取返利、代金券或任何经济利益；
			</p><p>i)	采取注册多个用户账号或其他方式购买自己或关联方的优惠产品以刷高销售额、获取返利或其他利益、进行虚假评价等不正当行为；
			</p><p>j)	其他损害他人或平台合法权益的行为。
			</p>
		</span>
		<p>6.	商家在使用平台提供的服务时，应遵守本协议及传化物流的相关使用规则，遵守自愿、平等、公平及诚实信用原则，不利用平台侵犯他人合法权益及谋取不正当利益，不扰乱网上交易的正常秩序；
		</p><p>7.	商家应在向用户提供服务前，对用户出示的消费券进行验证或查看，若未进行验证或查看而提供商品或服务，造成损失的，由商家自行承担；
		</p><p>8.	商家应按照优惠页面明示的产品信息、使用规则和消费承诺，向购买优惠产品的用户提供商品或服务，且保证提供的商品或服务符合本协议及优惠页面明示的内容和标准，不存在歧视优惠用户或降低服务质量和水平的行为；
		</p><p>9.	商家保证向购买其优惠产品的用户开具符合国家规定的发票；
		</p><p>10.	商家保证向用户提供相应的售后服务，对出售的商品提供符合国家规定的无理由退换货服务和“三包”服务，保证遵守已承诺的各项售后服务承诺；
		</p><p>11.	商家保证除履行本协议的目的外，不将从平台获取的任何数据做商业性利用，也不得披露给任何第三方；
		</p><p>12.	商家不得通过不正当手段（包括但不限于向平台工作人员及/或其关联人士提供酬金、礼物或其它有形或无形利益）谋取利益。否则，平台有权立即停止向商家提供的服务，并有权追究商家的违约责任。
		</p>
	</div>
    <div class="div1"><span>五、	平台的权利和义务</span></div>
	<div class="p-con">
		<p>1.	传化物流应在现有技术基础上，维护平台的正常运营，努力提升和改进技术。同时平台有权对现有平台的功能进行相应的技术改进和升级；
		</p><p>2.	对商家在使用平台过程中遇到的技术问题，传化物流在接到商家询问和咨询时应及时予以回复；
		</p><p>3.	平台有权对商家提交的资质文件进行审查，但此类审查不免除商家依法承担的各项义务及本协议约定的各项义务，商家仍需对资质承担相应法律责任，如因商家提交的资质出现问题导致的法律责任，均由商家独立承担。若因此造成传化物流损失的，商家应予以赔偿；
		</p><p>4.	一经发现商家提供虚假信息或有本协议及各项规则禁止的言论或行为的，平台有权采取暂停提供服务、删除违法违规信息、限制商家上单、禁止商家发言、锁定商家账户等处理措施。若因商家的言论或行为给他人或传化物流造成损失的，商家应予以赔偿；
		</p><p>5.	若国家相关机关向传化物流发出命令、指示、裁决等法律文书或第三人向传化物流投诉并提供相关证据材料，要求冻结、关闭商家账号及交易的，平台有权对相关账号及交易进行冻结或取消，同时对违反本协议及平台相关服务规则的商家，平台有权封停其账号。平台采取上述措施的，将通过商家注册时提交的联系信息通知商家；
		</p><p>6.	传化物流有权基于推广平台的需要，不定期开展各种推广活动，商家对此不持异议；
		</p><p>7.	对于收取保证金的商家，平台有不经商家同意在出现因商家原因导致损害赔偿事宜时用保证金先行赔付的权利，且在赔付之后平台有权要求商家补足保证金。若损失金额不明确，平台有权在本协议终止时暂不退还保证金，直至损失金额明确后扣除损失金额后退还剩余保证金；
		</p><p>8.	商家同意授予平台免费的许可使用权利(包括转授权)，使平台有权(全部或部分地)使用、复制、修订、改写、发布、翻译、分发、执行和展示商家公示于平台的各类信息或制作其派生作品，和/或以现在已知或日后开发的任何形式、媒体或技术，将上述信息纳入其它作品内。
		</p>
	</div>
    <div class="div1"><span>六、	服务条款的修改</span></div>
	<div class="p-con">
		<p>平台有权不定期的制定、修改本协议及/或相关服务规则，一旦条款及服务内容、规则产生变动，平台将会以网站公告的方式进行公示。商家应及时关注平台不时发布的各项服务规则及本协议修改的相关提示，若不同意相关规则及条款修改的，商家应及时停止使用平台提供的服务；如果商家继续使用平台提供的服务，则视为接受相关规则及条款的修改。</p>
	</div>
    <div class="div1"><span>七、	服务的中断和终止</span></div>
	<div class="p-con">
		<p>1.	平台会尽全力维护平台的正常运行，以向商家提供持续、稳定、安全、顺畅的服务。但商家理解并同意：平台对服务页面进行改版、升级网站系统、增加服务功能等须中断服务的操作时，有权暂时中断服务。平台将尽可能在实施以上行为时予以提前公告，并尽可能将影响降低到最小；
		</p><p>2.	商家可向平台提交申请，要求终止本协议，但必须提前一个月提交申请且在协议终止日时所有优惠产品均已履行期限届满且履行完毕。平台审核通过同意终止协议的，商家账户将被封停或注销，商家将不能使用平台除浏览页面外的所有服务，但平台仍有权保留商家的所有注册信息及过往交易记录，对商家在平台从事违法行为或违反本协议及相关规定的行为，平台仍有权行使本协议规定的权利并追究商家的法律责任；
		</p><p>3.	平台可在下列情况下，自行停止向商家提供服务，并封停或注销其账户，若因商家行为给平台造成损失的，商家还应负责赔偿：
		</p>
		<span class="span-con">
			<p>a)	商家违反本协议相关规定的，不论商家是否直接、间接或者通过他人再次注册成为平台商家，平台均有权停止向其提供服务；
			</p><p>b)	每个商家仅可在平台注册一个账户，若商家注册多个账户或使用关联账户购买平台有购买限制的产品或谋取不正当利益的，平台有权取消交易并停止向其提供服务，商家因此获取的利益须退还；
			</p><p>c)	本协议终止或更新时，用户明示不同意接受新协议的；
			</p><p>d)	其他违反平台相关规定或致使平台或他人遭受利益损害的行为；
			</p><p>e)	连续12个月未使用商家注册用邮箱、手机、密码或平台认可的其他方式登录过平台；
			</p><p>f)	商家有进行违法活动、发布欺诈信息、侵犯别人权益、不遵守本协议等行为的。
			</p>
		</span>
		<p>4.	本协议无论出于何种理由终止或解除，商家均应对已成功交易的订单提供商品或服务，不得以协议本协议解除为由不向购买的用户提供商品或服务以及履行相应的售后义务。若因商家未履行必要的退出义务而造成用户或平台损失的，商家应予以赔偿。</p>
	</div>
    <div class="div1"><span>八、	责任限制</span></div>
	<div class="p-con">
		<p>1.	不论在任何情况下，平台均不对由于互联网正常的设备维护，互联网络连接故障，电脑、通讯或其他系统的故障，电力故障，罢工，暴乱，骚乱，灾难性天气（如火灾、洪水、风暴等），爆炸，战争，政府行为，司法行政机关的命令或第三方的不作为而造成的不能履行或延迟履行承担责任；
		</p><p>2.	如因上述不可抗力或其他平台无法控制的原因使平台的销售系统崩溃或无法正常使用导致网上交易无法完成或丢失有关的信息、记录等，平台不承担责任。但是平台会尽可能合理地协助处理善后事宜，并努力使客户免受经济损失；
		</p><p>3.	基于互联网的特殊性，平台显示的信息可能有一定的滞后性或差错，对此情形商家知悉并理解。
		</p>
	</div>
    <div class="div1"><span>九、	知识产权</span></div>
	<div class="p-con">
		<p>1.	平台的域名、标识、图表、按钮、网页页眉页脚、排版、架构等归属于平台或识别平台的所有信息均由平台享有完全知识产权；未经平台许可，任何人不得使用、复制这些信息或再造、创造与这些内容有关的派生作品；
		</p><p>2.	商家同意：用户在平台发表的产品使用体验、产品讨论或图片等所有信息，除署名权、发表权、修改权外的其他知识产权权利（包括但不限于：复制权、发行权、出租权、展览权、表演权、放映权、广播权、信息网络传播权、摄制权、改编权、翻译权、汇编权以及应当由著作权人享有的其他可转让权利），均独家排他无偿许可给平台，并同意平台以自己名义就所述权利的保护采取任何形式的法律行为，并获得全部赔偿。 本协议已经构成《著作权法》第二十五条所规定的书面协议，其效力及于用户在平台发布的任何受著作权法保护的作品内容，无论该内容形成于本协议签订前还是本协议签订后。
		</p>
	</div>
    <div class="div1"><span>十、	违约责任</span></div>
	<div class="p-con">
		<p>1.	商家同意赔偿由于使用服务（包括但不限于将商家资料展示在平台上）或违反本协议而给平台造成的任何损失（包括但不限于由此产生的全额的诉讼费用和律师费）；商家同意平台不对任何商家张贴的资料，包括诽谤性的、攻击性的或非法的资料承担任何责任；由于此类材料对其它用户造成的损失由商家自行承担全部责任；
		</p><p>2.	商家承诺，不会采取任何手段或措施，包括但不限于明示或暗示用户或通过其他方式转移其可以通过平台在线达成的交易，或通过其他方式规避应向平台支付的服务费用，否则将视为严重违约，平台将有权立即终止本协议，并就平台所遭受的损失向商家追偿；
		</p><p>3.	除本协议及平台已公示的规则另有约定之外，如一方发生违约行为，守约方可以书面通知方式要求违约方在指定的时限内停止违约行为，并就违约行为造成的损失向违约方进行索赔，如违约方未能按时停止违约行为，则守约方有权立即终止本协议。
		</p>
	</div>
    <div class="div1"><span>十一、	通知和公告</span></div>
	<div class="p-con">
		<p>1.	平台向商家发送的所有通告，将通过页面公告或电子邮件的方式传送。平台的活动信息也将定期通过页面公告及电子邮件方式向用户发送。协议条款的修改、服务变更、或其它重要事件的通告都会以此形式进行；
		</p><p>2.	平台通过电子邮件或短信等方式发送的信息，均以商家自行填写和提交的信息为准，如因用户提交的信息错误或虚假造成相关通知和公告没有送达的，平台不承担责任。
		</p>
	</div>
    <div class="div1"><span>十二、	法律管辖和适用</span></div>
	<div class="p-con">
		<p>1.	本协议的订立、执行和解释及争议的解决均应适用中华人民共和国大陆地区法律；
		</p><p>2.	如发生本服务条款与上述法律相抵触时，则这些条款将完全按法律规定重新解释，而其它合法条款则依旧保持对用户产生法律效力和影响。
		</p><p>3.	本协议的规定是可分割的，如本协议任何规定被裁定为无效或不可执行，该规定可被删除而其余条款应予以执行。
		</p><p>4.	如双方就本协议内容或其执行发生任何争议，双方应尽力友好协商解决；协商不成时，可向被告所在地人民法院提起诉讼。
		</p>
	</div>
    <div class="div1"><span>十三、	附则</span></div>
	<div class="p-con">
		<p>本协议除以上正文部分外，还包括平台发布的各项服务规则，各项服务规则与本协议具有同等法律效力； 这些规则包括但不限于《优惠交易服务规则》、《传化物流陆鲸消费券使用规则》等已发布和尚未发布的各种规则等。</p>
	</div>
	<div class="div1" style="margin-top: 6.0rem;"><span>附1：</span></div>
	<div class="body-top">优惠交易服务规则</div>
	<div class="div1"><span>一、	优惠信息</span></div>
	<div class="p-con">
		<p>1.	商家按照与平台签署的合同的约定，在平台发布进行优惠活动的商品或服务信息。
		</p><p>2.	商家发布优惠信息时，应按照平台要求明示优惠价格、购买限制、消费提示、商品或服务介绍等必要信息，并对信息的真实性、合法性和有效性负责。
		</p>
	</div>
	<div class="div1"><span>二、	优惠交易</span></div>
	<div class="p-con">
		<p>1.	用户选择购买平台展示的优惠商品或服务前，应仔细阅读优惠信息展示页面的所有信息，了解优惠产品的种类、价格、数量、消费提示等相关信息。
		</p><p>2.	用户持收到的优惠电子凭证，按照使用规则要求商家履行合同义务时，商家应按照传化物流陆鲸消费券使用规则，对优惠电子凭证（优惠券）验证通过后向用户提供约定的商品或服务并向用户开具发票。提供快递类商品的商家应按照优惠订单主动及时向用户交付商品。
		</p><p>3.	用户使用电子凭证（优惠券）购买商家的商品或服务时，应遵守传化物流陆鲸消费券使用规则；用户持有传化物流陆鲸消费券时，应遵守传化物流陆鲸消费券使用规则。
		</p>
	</div>
	<div class="div1"><span>三、	售后保障</span></div>
	<div class="p-con">
		<p>1.	发生以下情况时，平台将代商家向用户退款：</p>
		<span class="span-con">
			<p>a)	用户按照优惠页面明示的退款规则，提出退款申请且符合要求的；
			</p><p>b)	用户优惠成功后，因商家原因未能在优惠有效期内提供服务或拒绝提供服务的，包括但不限于不可抗力、商家断货、破产、被相关部门勒令停产停业整顿、查封、吊销营业执照等。
			</p><p>c)	其他符合平台明示的退款政策的情况。
			</p>
		</span>
		<p>除上述情况外，用户无正当理由提出的退款申请，平台有权拒绝。</p>
		<p>2.	因履行优惠交易合同而发生争议的，用户和商家应按照优惠交易合同的约定履行各自的权利和义务，独立承担相应的法律责任。若用户和商家要求平台予以协调和解决的，应拨打平台客服电话，并向平台提交支持其主张的相应证据材料，以便平台予以核实，平台核实相关情况后对双方的争议予以协调，但平台并不为此承担任何责任。若双方对平台的协调结果不满意的，可自行采取其他法律措施予以解决。</p>
	</div>
	<div class="div1" style="margin-top: 6.0rem;"><span>附2：</span></div>
	<div class="body-top">传化物流陆鲸消费券使用规则</div>
	<div class="p-con">
		<p>1.	传化物流陆鲸消费券（以下简称：消费券）必须满足一定条件才能使用，以该代金券上的备注及平台的相关公告、提示为准。
		</p><p>2.	消费券不兑现（即不直接兑换现金）、不找零（即订单金额不足代金券金额的，消费券剩余金额无效）。
		</p><p>3.	消费券仅限用户本人使用，严禁出售或是转让，如经平台发现并证实的，该代金券将予以作废处理。
		</p><p>4.	平台商家及用户不得使用传化物流陆鲸消费券购买自己的优惠产品，或者与其他商家/用户合谋，使用传化物流陆鲸消费券相互购买、虚假购买自己或他人的优惠产品以获取经济利益。
		</p><p>5.	用户不得通过注册多个账号、采用技术手段、黑客行为或其他不正当手段取得传化物流陆鲸消费券，如经平台发现并证实的，取得的消费券将予以作废处理。
		</p><p>6.	不同种类的传化物流陆鲸消费券，在同一个订单里不得同时使用。通过其他渠道取得而非通过平台直接发放的传化物流陆鲸消费券，为防止作弊行为及倒卖行为，每个注册用户从该渠道领用的传化物流陆鲸消费券最多只能使用一张。用户违反传化物流陆鲸消费券的使用规则，违规使用传化物流陆鲸消费券经平台发现并证实的，平台有权终止该用户其他传化物流陆鲸消费券的效力。对于用户违规使用传化物流陆鲸消费券支付的订单，用户必须补足优惠部分的订单金额（如用户违规使用了一张面值10元的传化物流陆鲸消费券，那么用户必须补足10元），否则平台有权采取终止该订单的效力、停止向用户提供订单产品、查封用户账号等措施，并有权通过法律途径向用户追讨经济损失。
		</p>
	</div>
</div>
</body>
</html>