<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
        <meta name="format-detection" content="telephone=no"/>
        <title>会员等级说明</title>
		<!-- css引入 -->
		<link rel="stylesheet" href="../css/common/resetnew-min.css" />
		<link rel="stylesheet" href="../css/common/common.css" type="text/css"  />
		<link rel="stylesheet" href="../css/page/p_vipHelp.css" />
	</head>
	<body class="new_bg">
		<!--主体-->
		<div class="body-main">
			<!--头部-->
			<div class="body-top hid">
				<div class="nvbt iback" onclick="backFun()"></div>
				<div class="nvtt"></div>
			</div>
			<!--内容-->
			<div class="body-content no-top hid">
				<p class="vh-tit">会员认证等级、认证信息、权限之间的关系</p>
				<div class="vh-box">
					<div class="vhb-div">
						<span class="vhb-tit vhb-color1">认证等级</span>
						<div class="vhb-con"><i class="vhb-img vhb-v1"></i></div>
					</div>
					<div class="vhb-div">
						<span class="vhb-tit">认证信息</span>
						<div class="vhb-con">无</div>
					</div>
					<div class="vhb-div">
						<span class="vhb-tit">权限</span>
						<div class="vhb-con">查询货源、关注线路、货运圈发言、浏览商户、收听电台</div>
					</div>
				</div>
				<div class="vh-box">
					<div class="vhb-div">
						<span class="vhb-tit vhb-color1">认证等级</span>
						<div class="vhb-con"><i class="vhb-img vhb-v2"></i></div>
					</div>
					<div class="vhb-div">
						<span class="vhb-tit">认证信息</span>
						<div class="vhb-con">身份证号、姓名认证</div>
					</div>
					<div class="vhb-div">
						<span class="vhb-tit">权限</span>
						<div class="vhb-con">V1特权、传信聊天、拨打货主电话、预约保养、生活买单、购买商品、我的钱包</div>
					</div>
				</div>
				<div class="vh-box">
					<div class="vhb-div">
						<span class="vhb-tit vhb-color1">认证等级</span>
						<div class="vhb-con"><i class="vhb-img vhb-v3"></i></div>
					</div>
					<div class="vhb-div">
						<span class="vhb-tit">认证信息</span>
						<div class="vhb-con">身份证号、姓名认证、身份认证、头像认证</div>
					</div>
					<div class="vhb-div">
						<span class="vhb-tit">权限</span>
						<div class="vhb-con">V2特权、拨打货主电话、发起成交</div>
					</div>
				</div>
				<div class="vh-box">
					<div class="vhb-div">
						<span class="vhb-tit vhb-color1">认证等级</span>
						<div class="vhb-con"><i class="vhb-img vhb-v4"></i></div>
					</div>
					<div class="vhb-div">
						<span class="vhb-tit">认证信息</span>
						<div class="vhb-con">身份证号、姓名认证、车辆基础信息（车牌号、车长、车型）完善、行驶证照片认证、驾驶证照片认证</div>
					</div>
					<div class="vhb-div">
						<span class="vhb-tit">权限</span>
						<div class="vhb-con">V3特权、发布空车、违章查询</div>
					</div>
				</div>
				<div class="vh-box">
					<div class="vhb-div">
						<span class="vhb-tit vhb-color1">认证等级</span>
						<div class="vhb-con"><i class="vhb-img vhb-v5"></i></div>
					</div>
					<div class="vhb-div">
						<span class="vhb-tit">认证信息</span>
						<div class="vhb-con">身份证号、姓名认证、身份认证、头像认证、车辆基础信息（车牌号、车长、车型）完善、行驶证照片认证、驾驶证照片认证</div>
					</div>
					<div class="vhb-div">
						<span class="vhb-tit">权限</span>
						<div class="vhb-con">V4特权、ETC服务</div>
					</div>
				</div>
			</div>
			<div class="body-content no-top hid">
				<p class="vh-tit">会员认证等级、认证信息、权限之间的关系</p>
				<div class="vh-box">
					<div class="vhb-div">
						<span class="vhb-tit vhb-color1">认证等级</span>
						<div class="vhb-con"><i class="vhb-img vhb-v1"></i></div>
					</div>
					<div class="vhb-div">
						<span class="vhb-tit">认证信息</span>
						<div class="vhb-con">无</div>
					</div>
					<div class="vhb-div">
						<span class="vhb-tit">权限</span>
						<div class="vhb-con">添加车队、查询网上车场、货运圈、查看商圈、陆鲸平台验证司机身份信息等。</div>
					</div>
				</div>
				<div class="vh-box">
					<div class="vhb-div">
						<span class="vhb-tit vhb-color1">认证等级</span>
						<div class="vhb-con"><i class="vhb-img vhb-v2"></i></div>
					</div>
					<div class="vhb-div">
						<span class="vhb-tit">认证信息</span>
						<div class="vhb-con">身份证号、姓名</div>
					</div>
					<div class="vhb-div">
						<span class="vhb-tit">权限</span>
						<div class="vhb-con">添加车队、查询网上车场、货运圈、查看商圈、商圈买单、商圈购买商品、陆鲸平台验证司机身份信息等。</div>
					</div>
				</div>
				<div class="vh-box">
					<div class="vhb-div">
						<span class="vhb-tit vhb-color1">认证等级</span>
						<div class="vhb-con"><i class="vhb-img vhb-v3"></i></div>
					</div>
					<div class="vhb-div">
						<span class="vhb-tit">认证信息</span>
						<div class="vhb-con">身份证号、姓名、身份证照片、头像、名片／门头照</div>
					</div>
					<div class="vhb-div">
						<span class="vhb-tit">权限</span>
						<div class="vhb-con">发布货源、联系司机、发起线上成交、货运圈发言、商圈消费买单、商圈购买商品、公安系统身份信息验证等。</div>
					</div>
				</div>
				<div class="vh-box">
					<div class="vhb-div">
						<span class="vhb-tit vhb-color1">认证等级</span>
						<div class="vhb-con"><span>企业</span><i class="vhb-img vhb-v3"></i></div>
					</div>
					<div class="vhb-div">
						<span class="vhb-tit">认证信息</span>
						<div class="vhb-con">法人身份证号、法人姓名、法人身份证照片、营业执照照片</div>
					</div>
					<div class="vhb-div">
						<span class="vhb-tit">权限</span>
						<div class="vhb-con">发布货源、联系司机、发起线上成交、货运圈发言、商圈消费买单、商圈购买商品、公安系统身份信息验证等。</div>
					</div>
				</div>
			</div>
		</div>
		<!-- js引入 -->
		<!--<script type="text/javascript" src="../js/lib/debug.js" ></script>-->
		<script type="text/javascript" src="../js/lib/zepto.min.js" ></script>
		<script type="text/javascript" src="../js/lib/fastclick.js" ></script>
		<script type="text/javascript" src="../js/common/data.js" ></script>
		<script type="text/javascript" src="../js/weiget/getJsonp.js" ></script>
		<script>
			/*URL里面的参数*/
			var getParamVal = function(key) {
			    var reg = new RegExp("(^|&|\\?)"+ key +"=([^&]*)(&|$)");
			    if (ret = location.search.match(reg)) {
			        return decodeURIComponent(ret[2]);
			    }
			    return '';
			}
			var type = getParamVal('type');// 0||默认 司机 1货主
			var sourceCode = window.tf56 && window.tf56.getSourceCode();
			if(type==1||sourceCode=='0103010101'){
				//显示货主 预留
				$('.body-content').eq(1).show()
			}else{
				$('.body-content').eq(0).show()
			}
		</script>
	</body>
</html>
