<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no,width=device-width" />
  <meta name="format-detection" content="telephone=no" />
  <title>等级提升</title>
  <!-- css引入 -->
  <link rel="stylesheet" href="../css/common/style/reset-min.css" />
  <link rel="stylesheet" href="../css/common/style/common.css" />
  <link rel="stylesheet" href="../css/common/tf-pop-sp.css" />
  <link rel="stylesheet" href="../css/page/safe_pay_grownExplain.css" />
  <style>
    .bodyContent {
        margin-top: 0px;
    }
  </style>
</head>

<body class="body-bg">
  <!--主体-->
  <div class="body-main">
    <!--内容-->
    <div class="body-content">
      <div class="ruleItemDetail">
        <span class="detalTitle">
          什么是会员等级？
        </span>
        <span class="detailContent">
          陆鲸会员等级是您作为陆鲸会员身份的象征，等级越高可享受的特权、福利越多。
        </span>
      </div>
      <div class="apartDiv"></div>
      <div class="ruleItemDetail">
        <span class="detalTitle">
          有哪些会员等级？
        </span>
        <span class="detailContent">
          根据您当前的活跃值确定您所属的会员等级，从低到高依次为：
          <br/>
          普通会员→高级会员→超级会员→Vip会员
       </span>
      </div>
      <div class="apartDiv"></div>
      <div class="ruleItemDetail">
        <span class="detalTitle">
          如何获取活跃值？
        </span>
        <span class="detailContent">
          活跃值是您在陆鲸平台上活跃程度的反映，简单的来说，您越频繁的使用陆鲸，就越有可能获取更高的活跃值。如：完成身份信息认证，找货/发货、进行交易等等。
        </span>
      </div>
      <div class="apartDiv"></div>
      <div class="ruleItemDetail">
        <span class="detalTitle">
          会员等级可能下降吗？
        </span>
        <span class="detailContent">
          如果您在陆鲸平台上出现了不诚信的行为，或者长时间未使用陆鲸，我们会降低您的活跃值，不断下降的活跃值可能会让您的会员等级降低。
        </span>
      </div>
    </div>
    <!-- js引入 -->

</body>

</html>
