<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no,width=device-width" />
  <meta name="format-detection" content="telephone=no" />
  <title>纠纷处理</title>
  <!-- css引入 -->
  <link rel="stylesheet" href="../css/common/style/reset-min.css" />
  <link rel="stylesheet" href="../css/common/style/common.css" />
  <link rel="stylesheet" href="../css/common/tf-pop-sp.css" />
  <link rel="stylesheet" href="../css/page/safe_pay_dealHandel.css" />
  <style>
    .bodyContent {
        margin-top: 0px !important;
    }
  </style>
</head>

<body class="body-bg">
  <!--主体-->
  <div class="body-main">
    <!--内容-->
    <div class="body-content">
      <div class="nameText">
        <span class="backgroundImg"></span>
        <div class="textContent">
          <div class="textName">纠纷处理</div>
          <div class="content">出现纠纷，平台免费协调处理</div>
        </div>

      </div>
      <div class="ruleItemDetail">
        <span class="detalTitle">
          纠纷处理
        </span>
        <span class="detailContent">
          会员在陆鲸平台在线成交信息费后，陆鲸为该笔信息费提供免费纠纷处理服务，保障双方权益。
        </span>
      </div>
      <div class="apartDiv"></div>
      <div class="ruleItemDetail">
        <span class="detalTitle">
          如何申请？
        </span>
        <span class="detailContent">
          拨打400-866-5566陆鲸客服电话，在陆鲸软件“我的运单”中点击进入“运单详情”右上角处“投诉”按钮或者联系当地陆鲸工作人员进行申请纠纷处理服务，工作人员会及时介入并收集相应证据，公平公正的协调纠纷，保障会员权益。
        </span>
      </div>
    </div>
    <!-- js引入 -->

</body>

</html>
