<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no,width=device-width" />
  <meta name="format-detection" content="telephone=no" />
  <title>放空赔付</title>
  <!-- css引入 -->
  <link rel="stylesheet" href="../css/common/style/reset-min.css" />
  <link rel="stylesheet" href="../css/common/style/common.css" />
  <link rel="stylesheet" href="../css/common/tf-pop-sp.css" />
  <link rel="stylesheet" href="../css/page/safe_pay_payForName.css" />
  <style>
    .bodyContent {
        margin-top: 0px;
    }
  </style>
</head>

<body class="body-bg">
  <!--主体-->
  <div class="body-main">
    <!--内容-->
    <div class="body-content">
      <div class="nameText">
        <span class="backgroundImg"></span>
        <div class="textContent">
          <div class="textName">放空赔付</div>
          <div class="content">司机被放空，平台先行赔付</div>
        </div>

      </div>
      <div class="ruleItemDetail">
        <span class="detalTitle">
          放空赔付
        </span>
        <span class="detailContent">
          <p><span class="partyType">普通会员：</span><span class="rulesContent">暂时不享受该服务。</span></p>
          <p><span class="partyType">高级会员：</span><span class="rulesContent">遭遇放空后，可以享受平台赠送的200元免费赔付额度，用以赔付信息费、空驶费、误工费等；</span></p>
          <p><span class="partyType">超级会员：</span><span class="rulesContent">遭遇放空后，可以享受平台赠送的300元免费赔付额度，用以赔付信息费、空驶费、误工费等；</span></p>
          <p><span class="partyType">Vip会员：</span><span class="rulesContent">遭遇放空后，可以享受平台赠送的500元免费赔付额度，用以赔付信息费、空驶费、误工费等；</span></p>
        </span>
      </div>
      <div class="apartDiv"></div>
      <div class="ruleItemDetail">
        <span class="detalTitle">
          如何理赔?
        </span>
        <span class="detailContent">
          司机会员遭遇放空后，按照纠纷处理方式申请陆鲸介入，陆鲸在核实情况后做出处理结果，通知双方，并按照处理结果进行理赔。
        </span>
      </div>
    </div>
    <!-- js引入 -->

</body>

</html>
