<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no,width=device-width" />
  <meta name="format-detection" content="telephone=no" />
  <title>货物安全保障</title>
  <!-- css引入 -->
  <link rel="stylesheet" href="../css/common/style/reset-min.css" />
  <link rel="stylesheet" href="../css/common/style/common.css" />
  <link rel="stylesheet" href="../css/common/tf-pop-sp.css" />
  <link rel="stylesheet" href="../css/page/safe_pay_goodsSafe.css" />

</head>

<body class="body-bg">
  <!--主体-->
  <div class="body-main">
    <!--内容-->
    <div class="body-content">
      <div class="nameText">
        <span class="backgroundImg"></span>
        <div class="textContent">
          <div class="textName">货物安全保障</div>
          <div class="content">平台免费赠送保费代金券</div>
        </div>

      </div>
      <div class="ruleItemDetail">
        <span class="detalTitle">
          货物险保费代金券
        </span>
        <span class="detailContent">
          <p><span class="partyType">普通会员：</span><span class="rulesContent">暂不享受；</span></p>
          <p><span class="partyType">高级会员：</span><span class="rulesContent">每月1日获赠25元（5张5元）货物险保费代金券，可在本月购买货物险使用；</span></p>
          <p><span class="partyType">超级会员：</span><span class="rulesContent">每月1日获赠50元（10张5元）货物险保费代金券，可在本月购买货物险使用；</span></p>
          <p><span class="partyType">Vip会员：</span><span class="rulesContent">每月1日获赠100元（10张10元）货物险保费代金券，可在本月购买货物险使用；</span></p>
          <p style="margin-top:15px;">备注：每月获赠金额以赠送时会员等级为准，当月升级，赠送额度不补发。</p>
        </span>
      </div>
      <div class="apartDiv"></div>
      <div class="ruleItemDetail">
        <span class="detalTitle">
          什么是货物险保费代金券？
        </span>
        <span class="detailContent">
          货物险保费代金券是陆鲸提供给货主会员的现金优惠券，在购买货物险时可以抵扣等额现金。
        </span>
      </div>
      <div class="apartDiv"></div>
      <div class="ruleItemDetail">
        <span class="detalTitle">
          如何使用货物险保费代金券？
        </span>
        <span class="detailContent">
          会员在支付货物险保费时，直接选择保费代金券，就会减免相应的金额。
        </span>
      </div>
    </div>
    <!-- js引入 -->

</body>

</html>
