<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no,width=device-width"/>
        <meta name="format-detection" content="telephone=no"/>
        <title>借还记录</title>
		<!-- css引入 -->
		<link rel="stylesheet" href="../../common/style/reset-min.css" />
		<link rel="stylesheet" href="../../common/style/common.css" />
		<link rel="stylesheet" href="../../common/style/tf-pop-sp.css" />
		<link rel="stylesheet" href="loanRecord.css" />
	</head>
	<body class="body-bg">
		<!--主体-->
		<div class="body-main">
			<!--内容-->
			<div class="body-content">
				<div class="tab">
					<div class="tab-option tab-option-on" data-type="loan">
						<span>借款</span>
						<span class="activeTarget"></span>
					</div>
					<div class="tab-option" data-type="repay">
						<div>还款</div>
						<span class="activeTarget"></span>
					</div>
				</div>
				<div class="month" id="month"><span></span></div>
				<div class="loanItem">
					
				</div>
                <div class="bill-no" style="display:none">
                <img src="./statics/empty_bill@3x.png" alt="">
                暂无记录，快去使用陆鲸白条吧
                </div>
			</div>
		<!-- js引入 -->
		<script type="text/javascript" src="../../common/js/lib/zepto.min.js" ></script>
		<script type="text/javascript" src="../../common/js/lib/fastclick.js" ></script>
		<script type="text/javascript" src="../../common/js/weiget/tool-fun.js" ></script>
		<script type="text/javascript" src="../../common/js/weiget/tf-popup-sp.js" ></script>
		<script type="text/javascript" src="../../common/js/weiget/base.js" ></script>
		<script type="text/javascript" src="../../common/js/api/api-com.js" ></script>
		<script src="../../common/js/weiget/scrollLoading.js"></script>
		<script type="text/javascript" src="loanRecord.js"></script>
	</body>
</html>