/*tf-main 2017/1/6*/
/*.tm-banner-box{
	position: relative;
}
.tm-banner-point{
	position: absolute;
	z-index: 1;
	bottom: 10px;
	width: 100%;
	text-align: center;
}
.tm-bp-list{
	display: inline-block;
}
.tm-banner-point i{
	display: inline-block;
	margin-right: 10px;
	width: 10px;
	height: 10px;
	border-radius:5px;
	background-color: #FFFFFF;
	cursor:pointer;
}
.tm-banner-point i:last-child{
	margin-right: 0;
}
.tm-banner-point .checked{
	width: 30px;
}
.tm-bl{
	position: relative;
}
.tm-banner{
	width: 100%;
	height: auto;
	display: none;
	position: absolute;
	top: 0;
}
.tm-banner:last-child{
	position: static;
	display: block;
	visibility: hidden;
}
.tm-bl .checked{
	display: block;
	visibility: visible;
}*/

.tm-video{
	position: relative;
}
.tm-video-tit{
	position: absolute;
	top: 45%;
	margin-top: -55px;
	text-align: center;
	width: 100%;
	
}
.tm-video-go{
	display: block;
	width: 35px;
	height: 54px;
	background: no-repeat center center url(headgo.png);
	background-size:35px;
	position: absolute;
	bottom: 20px;
	left: 50%;
	margin-left: -17px;
	cursor: pointer;
	z-index: 1;
}
.tm-box{
	font-size: 16px;
	color: #666666;
	position: relative;
}
.tm-box-header{
	line-height: 80px;
	height: 80px;
	text-align: center;
}
.tm-bh-border{
	display: inline-block;
	width: 100px;
	height: 40px;
	border-bottom: 1px solid #dddddd;
	vertical-align: top;
}
.tm-bh-tit{
	display: inline-block;
	padding: 0 16px;
}
.tm-map-box{
	display: inline-block;
	width: 25%;
	text-align: center;
}
.tm-map-img{
	display: block;
	width: 60px;
	height: 60px;
	background: no-repeat center center url(tm_map1.png);
	background-size:60px ;
	margin: 0 auto;
}
.map1{background-image: url(tm_map1.png);}
.map2{background-image: url(tm_map2.png);}
.map3{background-image: url(tm_map3.png);}
.map4{background-image: url(tm_map4.png);}
.map5{background-image: url(tm_map5.png);}
.map6{background-image: url(tm_map6.png);}
.map7{background-image: url(tm_map7.png);}
.map8{background-image: url(tm_map8.png);}
.tm-map-tit{
	width: 140px;
	font-size: 18px;
	color: #333333;
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 10px;
}
.tm-map-con{
	width: 140px;
	font-size: 12px;
	color: #666666;
	margin: 0 auto;
}
.tm-problem{
	height: 390px;
}
.tm-problem-box{
	box-sizing: border-box;
	float: left;
	margin-right: 8px;
	cursor: pointer;
}
.problem-border1{border-bottom: 3px solid #9ade2b;}
.problem-border1:hover{
	border:1px solid #9ade2b;
	border-bottom: 3px solid #9ade2b;
	-webkit-box-shadow:0 0 10px rgba(154,222,43,.5);
	-moz-box-shadow:0 0 10px rgba(154,222,43,.5);
	box-shadow:0 0 10px rgba(154,222,43,.5);
}
.problem-border2{border-top: 3px solid #fb762a;}
.problem-border2:hover{
	border:1px solid #fb762a;
	border-top: 3px solid #fb762a;
	-webkit-box-shadow:0 0 10px rgba(251,118,42,.5);
	-moz-box-shadow:0 0 10px rgba(251,118,42,.5);
	box-shadow:0 0 10px rgba(251,118,42,.5);
}
.problem-border3{border-bottom: 3px solid #ffbf43;}
.problem-border3:hover{
	border:1px solid #ffbf43;
	border-bottom: 3px solid #ffbf43;
	-webkit-box-shadow:0 0 10px rgba(255,191,67,.5);
	-moz-box-shadow:0 0 10px rgba(255,191,67,.5);
	box-shadow:0 0 10px rgba(255,191,67,.5);
}
.problem-border4{border-top: 3px solid #00bddf;}
.problem-border4:hover{
	border:1px solid #00bddf;
	border-top: 3px solid #00bddf;
	-webkit-box-shadow:0 0 10px rgba(0,189,223,.5);
	-moz-box-shadow:0 0 10px rgba(0,189,223,.5);
	box-shadow:0 0 10px rgba(0,189,223,.5);
}
.tm-problem-box:last-child{
	margin-right: 0;
}
.tm-problem-div{
	height: 170px;
	font-size: 16px;
	line-height: 36px;
	font-weight: bold;
	color: #333333;
	padding-top: 7px;
	padding-left: 17px;
	position: relative;
	background-color: #FFFFFF;
}
.tm-problem-tit{}
.tm-problem-con{}
.tm-problem-more{
	font-size: 12px;
	position: absolute;
	right: 17px;
	bottom: 20px;
	font-weight: normal;
	line-height: normal;
}
.tm-problem-img{
	display: block;
	width: 242px;
	height: 170px;
	background: no-repeat center center;
	background-size: 242px;
}
.problem1{background-image: url(tm-problem1.jpg);}
.problem2{background-image: url(tm-problem2.jpg);}
.problem3{background-image: url(tm-problem3.jpg);}
.problem4{background-image: url(tm-problem4.jpg);}
.tm-bg{
	background-color: #f5f9fa;;
}
/*.tm-problem-menu li{
	display: inline-block;
	width: 25%;
	border: 1px solid #DDDDDD;
	border-left:0 ;
	box-sizing: border-box;
	text-align: center;
	height: 50px;
	line-height: 50px;
	cursor:pointer;
}
.tm-problem-menu li:first-child{
	border-left: 1px solid #DDDDDD;
}
.tm-problem-menu .checked{
	background-color: #1D2A2D;
	color: #FFFFFF;
	border-color: #1D2A2D;
}
.tm-problem-box{
	position: absolute;
	display: none;
}
.tm-problem-box:last-child{
	position: relative;
	display: block;
	visibility: hidden;
}
.tm-problem-box.checked{
	display: block;
	visibility: visible;
}
.tm-problem-half{
	display: inline-block;
	width: 50%;
	box-sizing: border-box;
	height: 330px;
	vertical-align: top;
}
.tm-problem-tit{
	font-size: 26px;
	color: #353D45;
	font-weight: bold;
	margin-top: 44px;
}
.tm-problem-con{
	font-size: 12px;
	color: #333333;
	line-height: 20px;
	margin-top: 22px;
}
.tm-problem-more{
	font-size: 12px;
	color: #6393E3;
	line-height: 12px;
	margin-top: 15px;
}
.tm-problem-img{
	display: block;
	width: 400px;
	height: 200px;
	background: no-repeat center center url(tm-problem1.png);
	background-size:400px;
	position: relative;
	top: 34px;
	margin-left: 100px;
}*/
.tm-logo{
	text-align: center;
	margin-bottom: 66px;
}
.tm-ehuodi{
	display: inline-block;
	width: 84px;
	height: 32px;
	background: no-repeat center center url(tm-ehuodi.png);
	background-size:84px;
}
.tm-lujing{
	display: inline-block;
	width: 120px;
	height: 32px;
	background: no-repeat center center url(tm-lujing.png);
	background-size:120px;
	margin-left: 30px;
}